<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html>
<head>
<title>{% trans "MiXiM - for those who love pets" %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/jquery-ui.css" rel="stylesheet" type="text/css">

<script src="/js/underscore-min.js"></script>
<script src="/js/backbone-min.js"></script>
<script src="/js/jquery-1.8.3.min.js"></script>
<script src="/js/vendor/jquery.ui.widget.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/jquery.iframe-transport.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script src="/js/jquery.populate.js"></script>
<script src="/js/sprintf.min.js"></script>
<script src="/js/app/translations-{{ LANGUAGE_CODE }}.js"></script>
<script src="/js/app/init.js"></script>
<script src="/js/app/api.js"></script>
<script src="/js/app/util.js"></script>
<script src="/js/app/gallery.js"></script>
<script src="/js/app/keydown.js"></script>
<script src="/js/app/ui.js"></script>
<script src="/js/app/cabinet.js"></script>
<script src="/js/app/auth.js"></script>
</head>

<body class="media">
<div id="show_qr" class="show_qr_window">
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td height="68px" align="right" valign="top">
                <img src="../images/qr_window_arrow.png" width="53" height="62" border="0">
            </td>
        </tr>
        <tr>
            <td class="show_qr_box">
                <img src="../images/qr_android_ru.png" width="300" height="300" border="0">
            </td>
        </tr>
    </table>
</div>

<table width="980px" height="100%" align="center" border="0" cellspacing="0" cellpadding="0"> <!--height="100%"-->
    <tr>
        <td height="98px" valign="top">
            <div class="logo_media">
                <a href="../media.shtml" title="{% trans "On the main page" %}" target="_self">
                    <img src="../images/logo.png" width="156" height="46" border="0" alt="{% trans "On the main page" %}">
                </a>
            </div>
            <div class="app_div">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="141">
                            <a href="https://play.google.com/store/apps/details?id=ru.idrop.app" title="{% trans "Available on Google play" %}"><img src="../images/{% trans "app_google_play_en.png" %}" width="141" height="46" border="0" alt="{% trans "Available on Google play" %}"  onmouseover="document.getElementById('show_qr').style.display = 'block';" onmouseout="document.getElementById('show_qr').style.display = 'none';"></a>
                            <!--a href="#" title="Скачать из App store"><img src="../images/app_apple_store_ru.png" width="141" height="46" border="0" alt="App store"></a-->
                        </td>
                        <td align="center" width="90px;">
                            <!--a href="#" title="Pets!"--><img src="../images/app_icon_1.png" width="60" height="81" border="0" alt="Pets!"><!--/a-->
                        </td>
                        <td width="164">
                            <img src="../images/{% trans "app_stamp_en.png" %}" width="164" height="98" border="0" alt="{% trans "The mobile app Pets! - absolutely free!" %}">
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <!--tr>
        <td class="filter_bubble">
            <a href="#" title="Добавить фото" class="s__media_upload_win_open" style="margin-left:296px;">
                <img src="../images/photo_bubble.gif" width="80" height="100" border="0" alt="Добавить фото">
            </a>
        </td>
    </tr>
    <tr>
        <td height="100px" class="media_body">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="48" align="right" valign="middle" class="media_list_opa">
                        <a href="javascript:prevPage()" title="Следующая сраница"><img src="../images/page_next.png" width="32" height="64" border="0" alt="Следующая сраница" title="Следующая сраница"></a>
                    </td>
                    <td align="center" valign="middle">
                        <table cellpadding="0" cellspacing="6" id="image_container"></table>
                    </td>
                    <td width="48" align="left" valign="middle" class="media_list_opa">
                        <a href="javascript:nextPage()" title="Предыдущая сраница"><img src="../images/page_previous.png" width="32" height="64" border="0" alt="Предыдущая сраница" title="Предыдущая сраница"></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="media_close">&nbsp;</td>
    </tr-->
    <tr>
        <td height="141px" valign="top" style="padding-top:92px;">
            <img src="../images/bubble_smoke.gif" width="80" height="57" style="position:absolute; margin-left:78px; top:138px; z-index:-1;">
            <a class="media_1_openscreen f_goto_userpage finger">
                <img src="../images/media.png" width="40" height="40" border="0" alt="{% trans "My page" %}">
                {% trans "&nbsp;&nbsp;&nbsp;&nbsp;My page&nbsp;&nbsp;&nbsp;&nbsp;" %}
            </a>
            <a title="{% trans "Add picture" %}" class="media_1_row_line_add_photo s__media_upload_win_open finger">
                <img src="../images/photo_bubble.gif" width="80" height="100" border="0" alt="{% trans "Add picture" %}">
            </a>
            <div style="width:980px; height:121px;"> <!-- вынести в перед над всеми - position:relative; z-index:10;-->
                <span class="media_1_row_line_name_cabinet">{% trans "My Photos" %}</span>
                <table class="media_1_row_line" style="width:100%; height:100%;">
                    <tr>
                        <td width="48" align="right" valign="middle" class="media_list_opa">
                            <a href="javascript:prevPage()" title="{% trans "Next page" %}"><img src="../images/page_next.png" width="32" height="64" border="0" alt="{% trans "Next page" %}" title="{% trans "Next page" %}"></a>
                        </td>
                        <td align="center">
                            <table cellpadding="0" cellspacing="6" id="image_container"></table>
                        </td>
                        <td width="48" align="left" valign="middle" class="media_list_opa">
                            <a href="javascript:nextPage()" title="{% trans "Previous page" %}"><img src="../images/page_previous.png" width="32" height="64" border="0" alt="{% trans "Previous page" %}" title="{% trans "Previous page" %}"></a>
                        </td>
                    </tr>
                </table>
            <div>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <table width="980px" align="center" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="126" valign="top" align="center">
						<!--form method="post" enctype="multipart/form-data" id="avatar_form" action="/json/media/avatarupload/">
                            <input type="file" id="avatar_file" name="avatar" style="width:1px;height:1px;display:none;" />
						</form>
						<script>
						    $('#avatar_file').change(function(){$('#avatar_form').submit()})
						</script-->
                        <div class="cabinet_user_menu"> <!-- onclick="document.getElementById('avatar_file').click(); return false"-->
                            <div class="cabinet_user_avatar">
                                <a title="{% trans "Change the thumbnail..." %}" class="finger">
                                    <img id="avatar" src="../images/user_unisex.png" border="0" alt="{% trans "Change the thumbnail..." %}" style="background-color:#000;">
                                </a>
                            </div>
                            <div id="cabinet_news_link" class="cabinet_user_menu_button_off"><a>{% trans "Messages" %}</a></div>
                            <div id="cabinet_discussion_link" class="cabinet_user_menu_button"><a>{% trans "Discussions" %}</a></div>
                            <div id="cabinet_like_link" class="cabinet_user_menu_button"><a>{% trans "Ratings" %}</a></div>
                            <div id="cabinet_follow_link" class="cabinet_user_menu_button"><a>{% trans "Follows" %}</a></div>
                            <div style="width:90px; height:1px; background-color:#f24f00; margin-bottom:10px;"></div>
                            <!--div class="cabinet_user_menu_button"><a href="">Избранное</a></div-->
                            <div id="cabinet_pets_link" class="cabinet_user_menu_button"><a>{% trans "Pets" %}</a></div>
                            <div id="cabinet_mine_link" class="cabinet_user_menu_button"><a>{% trans "Personal data" %}</a></div>
                            <div style="width:90px; height:1px; background-color:#f24f00; margin-bottom:10px;"></div>
                            <div class="cabinet_user_menu_button"><a href="javascript:auth_logout()">{% trans "Exit" %}</a></div>
                        <div>
                    </td>
                    <td valign="top">
                        <!-- div открывает кнопка "Сообщения" и показываеся по умолчанию при входе в кабинет (начало)-->
                        <div id="cabinet_news" class="cabinet_column s__cabinet_block" style="width:600px;">
                            <table align="center" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" class="ff_me_button" id="inbox_pet_new_window_link">
                        			    <a>&dArr;&nbsp;&nbsp;{% trans "Inbox" %}</a>
                        			</td>
                        			<td width="60px">
                        			    &nbsp;
                        			</td>
                        			<td align="center" class="ff_me_button on_button" id="outbox_pet_new_window_link">
                        			    <a>&uArr;&nbsp;&nbsp;{% trans "Outbox" %}</a>
                        			</td>
                        	    </tr>
                            </table>
							<div id="last_comments_id">
							</div>
                        </div>
                        <!-- "Сообщения" (конец)-->

                        <!-- div открывает кнопка "Обсуждения" (начало)-->
                        <div id="cabinet_discussion" class="cabinet_column s__cabinet_block" style="width:600px; display:none;">
                            <div style="width:610px;">
                            </div>
                        </div>
                        <!-- "Обсуждения" (конец)-->

                        <!-- div открывает кнопка "Оценки" (начало)-->
                        <div id="cabinet_like" class="cabinet_column s__cabinet_block" style="width:600px; display:none;">
                        </div>
                        <!-- "Оценки" (конец)-->

                        <!-- div открывает кнопка "Подписки" (начало)-->
                        <div id="cabinet_follow" class="cabinet_column s__cabinet_block" style="width:600px; display:none;">
                        </div>
                        <!-- "Подписки" (конец)-->

                        <!-- div открывает кнопка "Питомцы" и показываеся по умолчанию при входе в кабинет (начало)-->
                        <div id="cabinet_pets" class="cabinet_column s__cabinet_block" style="width:600px; display:none;">
                            <center class="add_pet_button">
                                <a id="pet_new_window_link" class="finger"><b>+</b>&nbsp;&nbsp;{% trans "Add pet" %}</a>
                            </center>
                            <div id="pet_list"></div>
                            <div id="pet_template" style="display:none">
                                <table align="left" style="margin-top:10px;" border="0" cellspacing="0" cellpadding="0"><!-- входящие -->
                                    <tr>
                                        <td class="cabinet_photo_in">
                                            <a id="pet_upload_photo_link_{id}" class="finger" title="{% trans "Add picture" %}">
                                                <img id="pet_last_picture_{id}" src="media/absent.png" width="100px" height="75px">
                                            </a>
                                        </td>
                                        <td align="left" valign="top">
                                            <span id="pet_name_{id}" class="cabinet_caption_in">{name}</span>
                                            <div class="cabinet_body_in">
                                                <table border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="190px" align="right"><b>{% trans "Date of Birth:" %}</b></td>
                                                        <td width="6px"></td>
                                                        <td width="190px" align="left" id="pet_birthday_{id}">{birthday}</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right"><b>{% trans "Gender:" %}</b></td>
                                                        <td></td>
                                                        <td align="left" id="pet_gender_{id}">{gender_name}</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right"><b>{% trans "Color:" %}</b></td>
                                                        <td></td>
                                                        <td align="left" id="pet_color_{id}">{color}</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right"><b>{% trans "Breed:" %}</b></td>
                                                        <td></td>
                                                        <td align="left" id="pet_breed_{id}">{breed}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <br>
                                                            <center><b>{% trans "Additional Information:" %}</b></center>
                                                            <span id="pet_about_{id}">&nbsp;&nbsp;{about}</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!--table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td align="center"><b>Родился: </b><span id="pet_birthday_{id}">{birthday}</span></td>
                                                        <td align="center"><b>Пол: </b><span id="pet_gender_{id}">{gender_name}</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right"><b>Окрас:&nbsp;</b></td>
                                                        <td><span id="pet_color_{id}">{color}</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right"><b>Порода:&nbsp;</b></td>
                                                        <td><span id="pet_breed_{id}">{breed}</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <b>Дополнительная информация:</b><br><span id="pet_about_{id}">{about}</span>
                                                        </td>
                                                    </tr>
                                                </table-->
                                            </div>
                                        </td>
                                        <td class="modify_pet_button">
                                            <a id="pet_edit_window_link_{id}" class="finger">{% trans "Change" %}</a>
                                            <a id="pet_enable_link_{id}" class="finger">{% trans "Enable" %}</a>
                                            <a id="pet_disable_link_{id}" class="finger">{% trans "Disable" %}</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- "Питомцы" (конец)-->
                        <!-- div открывает кнопка "Личные данные" и показываеся по умолчанию при входе в кабинет (начало)-->
                        <div id="cabinet_mine" class="cabinet_column s__cabinet_block" style="width:600px; display:none;">
                            <div style="margin-top:10px;">
                                <div style="width:340px; float:right; text-align:justify; text-indent:1.5em; color:#f24f00;">
                                    <p>Заполняя информацию о себе, Вы делаете возможным поиск ваших питомцев.</p>
                                    <p>Например: без указания Вами, Вашего места жительства, другим членам сообщества при геопоиске (страна и/или город), фотографии Ваших любимцев не будут показываться.</p>
                                    <p>Старайтесь не скупиться на слова, рассказывая немного о себе. Чем Вы интереснее, тем больше людей будут наблюдать за вашими питомцами.</p>
                                </div>
                                <table width="248px" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="user_data_box_top radius_6000" style="pading-top:5px;">
                                            <!--div style="margin-top:5px; margin-left:5px;">
                                                <span class="redit_caption">Cтатус:</span><br>
                                                <select class="redit_body" id="f_user_country" style="width:234px;">
                                                    <option value="">Хозяин (у меня есть дома)</option>
                                                    <option value="">Бридер</option>
                                                    <option value="">Владелец клуба</option>
                                                </select>
                                            </div-->
                                            <!--div style="margin-top:5px; margin-left:5px;">
                                                <span class="redit_caption">Мое Имя (никнейм):</span><br>
                                                <input type="text" id="f_user_nic" class="redit_body" style="width:234px;">
                                            </div-->
                                            <div style="margin-top:5px; margin-left:5px;">
                                                <span class="redit_caption">{% trans "First Name:" %}</span><br>
                                                <input type="text" id="f_user_firstname" class="redit_body" style="width:234px;">
                                            </div>
                                            <div style="margin-top:5px; margin-left:5px;">
                                                <span class="redit_caption">{% trans "Last Name:" %}</span><br>
                                                <input type="text" id="f_user_lastname" class="redit_body" style="width:234px;">
                                            </div>
                                            <div style="margin-top:5px; margin-left:5px;">
                                                <span class="redit_caption">{% trans "Gender:" %}</span><br>
                                                <select class="redit_body" id="f_user_gender" style="width:238px;">
                                                    <option value=""></option>
                                                    <option value="M">{% trans "Male" %}</option>
                                                    <option value="F">{% trans "Female" %}</option>
                                                </select>
                                            </div>
                                            <div style="margin-top:5px; margin-left:5px;">
                                                <span class="redit_caption">{% trans "Date of Birth:" %}</span><br>
                                                <input type="text" id="f_user_birthday" class="redit_body" style="width:234px;">
                                            </div>
                                            <div style="margin-top:5px; margin-left:5px;">
                                                <span class="redit_caption">{% trans "Country:" %}</span><br>
                                                <select class="redit_body" id="f_user_country" style="width:238px;">
                                                    <option value=""></option>
                                                    <option value="AU">Австралия</option>
                                                    <option value="AT">Австрия</option>
                                                    <option value="AZ">Азербайджан</option>
                                                    <option value="AX">Аландские острова</option>
                                                    <option value="AL">Албания</option>
                                                    <option value="DZ">Алжир</option>
                                                    <option value="AS">Американские острова Самоа</option>
                                                    <option value="AI">Ангилья</option>
                                                    <option value="AO">Ангола</option>
                                                    <option value="AD">Андорра</option>
                                                    <option value="AG">Антигуа и Барбуда</option>
                                                    <option value="AR">Аргентина</option>
                                                    <option value="AM">Армения</option>
                                                    <option value="AW">Аруба</option>
                                                    <option value="AF">Афганистан</option>
                                                    <option value="BS">Багамы</option>
                                                    <option value="BD">Бангладеш</option>
                                                    <option value="BB">Барбадос</option>
                                                    <option value="BH">Бахрейн</option>
                                                    <option value="BY">Беларусь</option>
                                                    <option value="BZ">Белиз</option>
                                                    <option value="BE">Бельгия</option>
                                                    <option value="BJ">Бенин</option>
                                                    <option value="BM">Бермуды</option>
                                                    <option value="BG">Болгария</option>
                                                    <option value="BO">Боливия</option>
                                                    <option value="BA">Босния и Герцеговина</option>
                                                    <option value="BW">Ботсвана</option>
                                                    <option value="BR">Бразилия</option>
                                                    <option value="BN">Бруней</option>
                                                    <option value="BF">Буркина-Фасо</option>
                                                    <option value="BI">Бурунди</option>
                                                    <option value="BT">Бутан</option>
                                                    <option value="VU">Вануату</option>
                                                    <option value="VA">Ватикан</option>
                                                    <option value="GB">Великобритания</option>
                                                    <option value="HU">Венгрия</option>
                                                    <option value="VE">Венесуэла</option>
                                                    <option value="VG">Виргинские острова, Великобритания</option>
                                                    <option value="VI">Виргинские острова, США</option>
                                                    <option value="TL">Восточный Тимор</option>
                                                    <option value="VN">Вьетнам</option>
                                                    <option value="GA">Габон</option>
                                                    <option value="HT">Гаити</option>
                                                    <option value="GY">Гайана</option>
                                                    <option value="GM">Гамбия</option>
                                                    <option value="GH">Гана</option>
                                                    <option value="GP">Гваделупа</option>
                                                    <option value="GT">Гватемала</option>
                                                    <option value="GN">Гвинея</option>
                                                    <option value="GW">Гвинея-Биссау</option>
                                                    <option value="DE">Германия</option>
                                                    <option value="GI">Гибралтар</option>
                                                    <option value="HN">Гондурас</option>
                                                    <option value="HK">Гонконг</option>
                                                    <option value="GD">Гренада</option>
                                                    <option value="GL">Гренландия</option>
                                                    <option value="GR">Греция</option>
                                                    <option value="GE">Грузия</option>
                                                    <option value="GU">Гуам</option>
                                                    <option value="DK">Дания</option>
                                                    <option value="CD">Демократическая республика Конго</option>
                                                    <option value="JE">Джерси</option>
                                                    <option value="DJ">Джибути</option>
                                                    <option value="DM">Доминика</option>
                                                    <option value="DO">Доминиканская республика</option>
                                                    <option value="EG">Египет</option>
                                                    <option value="ZM">Замбия</option>
                                                    <option value="EH">Западная Сахара</option>
                                                    <option value="ZW">Зимбабве</option>
                                                    <option value="IL">Израиль</option>
                                                    <option value="IN">Индия</option>
                                                    <option value="ID">Индонезия</option>
                                                    <option value="JO">Иордания</option>
                                                    <option value="IQ">Ирак</option>
                                                    <option value="IR">Иран</option>
                                                    <option value="IE">Ирландия</option>
                                                    <option value="IS">Исландия</option>
                                                    <option value="ES">Испания</option>
                                                    <option value="IT">Италия</option>
                                                    <option value="YE">Йемен</option>
                                                    <option value="KZ">Казахстан</option>
                                                    <option value="KY">Каймановы острова</option>
                                                    <option value="KH">Камбоджа</option>
                                                    <option value="CM">Камерун</option>
                                                    <option value="CA">Канада</option>
                                                    <option value="QA">Катар</option>
                                                    <option value="KE">Кения</option>
                                                    <option value="CY">Кипр</option>
                                                    <option value="KI">Кирибати</option>
                                                    <option value="CN">Китай</option>
                                                    <option value="CO">Колумбия</option>
                                                    <option value="KM">Коморские острова</option>
                                                    <option value="CG">Конго</option>
                                                    <option value="CR">Коста-Рика</option>
                                                    <option value="CI">Кот-д'Ивуар</option>
                                                    <option value="CU">Куба</option>
                                                    <option value="KW">Кувейт</option>
                                                    <option value="KG">Кыргызстан</option>
                                                    <option value="LA">Лаос</option>
                                                    <option value="LV">Латвия</option>
                                                    <option value="LS">Лесото</option>
                                                    <option value="LR">Либерия</option>
                                                    <option value="LB">Ливан</option>
                                                    <option value="LY">Ливия</option>
                                                    <option value="LT">Литва</option>
                                                    <option value="LI">Лихтенштейн</option>
                                                    <option value="LU">Люксембург</option>
                                                    <option value="MU">Маврикий</option>
                                                    <option value="MR">Мавритания</option>
                                                    <option value="MG">Мадагаскар</option>
                                                    <option value="YT">Майорка</option>
                                                    <option value="MO">Макао</option>
                                                    <option value="MK">Македония</option>
                                                    <option value="MW">Малави</option>
                                                    <option value="MY">Малайзия</option>
                                                    <option value="ML">Мали</option>
                                                    <option value="MV">Мальдивы</option>
                                                    <option value="MT">Мальта</option>
                                                    <option value="MA">Марокко</option>
                                                    <option value="MQ">Мартиника</option>
                                                    <option value="MH">Маршалловы острова</option>
                                                    <option value="MX">Мексика</option>
                                                    <option value="FM">Микронезия</option>
                                                    <option value="MZ">Мозамбик</option>
                                                    <option value="MD">Молдова</option>
                                                    <option value="MC">Монако</option>
                                                    <option value="MN">Монголия</option>
                                                    <option value="MS">Монсеррат</option>
                                                    <option value="MM">Мьянма</option>
                                                    <option value="NA">Намибия</option>
                                                    <option value="NR">Науру</option>
                                                    <option value="NP">Непал</option>
                                                    <option value="NE">Нигер</option>
                                                    <option value="NG">Нигерия</option>
                                                    <option value="AN">Нидерландские Антильские острова</option>
                                                    <option value="NL">Нидерланды</option>
                                                    <option value="NI">Никарагуа</option>
                                                    <option value="NU">Ниуэ</option>
                                                    <option value="NZ">Новая Зеландия</option>
                                                    <option value="NC">Новая Каледония</option>
                                                    <option value="NO">Норвегия</option>
                                                    <option value="AE">Объединенные Арабские Эмираты</option>
                                                    <option value="OM">Оман</option>
                                                    <option value="GG">Остров Гернси</option>
                                                    <option value="IM">Остров Мэн</option>
                                                    <option value="SH">Остров Святой Елены</option>
                                                    <option value="GS">Остров Южная Георгия и Южные Сандвичевы острова</option>
                                                    <option value="CV">Острова Зеленого мыса</option>
                                                    <option value="CK">Острова Кука</option>
                                                    <option value="TC">Острова Теркс и Кайкос</option>
                                                    <option value="WF">Острова Уоллис и Футуна</option>
                                                    <option value="PK">Пакистан</option>
                                                    <option value="PW">Палау</option>
                                                    <option value="PA">Панама</option>
                                                    <option value="PG">Папуа – Новая Гвинея</option>
                                                    <option value="PY">Парагвай</option>
                                                    <option value="PE">Перу</option>
                                                    <option value="PL">Польша</option>
                                                    <option value="PT">Португалия</option>
                                                    <option value="PR">Пуэрто-Рико</option>
                                                    <option value="RE">Реюньон</option>
                                                    <option value="RU">Россия</option>
                                                    <option value="RW">Руанда</option>
                                                    <option value="RO">Румыния</option>
                                                    <option value="SV">Сальвадор</option>
                                                    <option value="WS">Самoа</option>
                                                    <option value="SM">Сан-Марино</option>
                                                    <option value="ST">Сан-Томе и Принсипе</option>
                                                    <option value="SA">Саудовская Аравия</option>
                                                    <option value="SZ">Свазиленд</option>
                                                    <option value="KP">Северная Корея</option>
                                                    <option value="MP">Северные Марианские острова</option>
                                                    <option value="SC">Сейшелы</option>
                                                    <option value="SN">Сенегал</option>
                                                    <option value="PM">Сен-Пьер и Микелон</option>
                                                    <option value="VC">Сент-Винсент и Гренадины</option>
                                                    <option value="KN">Сент-Китс и Невис</option>
                                                    <option value="LC">Сент-Люсия</option>
                                                    <option value="RS">Сербия</option>
                                                    <option value="CS">Сербия и Черногория</option>
                                                    <option value="SG">Сингапур</option>
                                                    <option value="SY">Сирия</option>
                                                    <option value="SK">Словакия</option>
                                                    <option value="SI">Словения</option>
                                                    <option value="SB">Соломоновы острова</option>
                                                    <option value="SO">Сомали</option>
                                                    <option value="SD">Судан</option>
                                                    <option value="SR">Суринам</option>
                                                    <option value="US">США</option>
                                                    <option value="SL">Сьерра-Леоне</option>
                                                    <option value="TJ">Таджикистан</option>
                                                    <option value="TH">Таиланд</option>
                                                    <option value="TW">Тайвань</option>
                                                    <option value="TZ">Танзания</option>
                                                    <option value="PS">Территория Палестины</option>
                                                    <option value="TG">Того</option>
                                                    <option value="TK">Токелау</option>
                                                    <option value="TO">Тонга</option>
                                                    <option value="TT">Тринидад и Тобаго</option>
                                                    <option value="TV">Тувалу</option>
                                                    <option value="TN">Тунис</option>
                                                    <option value="TM">Туркменистан</option>
                                                    <option value="TR">Турция</option>
                                                    <option value="UG">Уганда</option>
                                                    <option value="UZ">Узбекистан</option>
                                                    <option value="UA">Украина</option>
                                                    <option value="UY">Уругвай</option>
                                                    <option value="FO">Фарерские острова</option>
                                                    <option value="FJ">Фиджи</option>
                                                    <option value="PH">Филиппины</option>
                                                    <option value="FI">Финляндия</option>
                                                    <option value="FK">Фолклендские острова</option>
                                                    <option value="FR">Франция</option>
                                                    <option value="GF">Французская Гвинея</option>
                                                    <option value="PF">Французская Полинезия</option>
                                                    <option value="HR">Хорватия</option>
                                                    <option value="CF">Центрально-Африканская Республика</option>
                                                    <option value="TD">Чад</option>
                                                    <option value="ME">Черногория</option>
                                                    <option value="CZ">Чехия</option>
                                                    <option value="CL">Чили</option>
                                                    <option value="CH">Швейцария</option>
                                                    <option value="SE">Швеция</option>
                                                    <option value="LK">Шри-Ланка</option>
                                                    <option value="EC">Эквадор</option>
                                                    <option value="GQ">Экваториальная Гвинея</option>
                                                    <option value="ER">Эритрея</option>
                                                    <option value="EE">Эстония</option>
                                                    <option value="ET">Эфиопия</option>
                                                    <option value="KR">Южная Корея</option>
                                                    <option value="JM">Ямайка</option>
                                                    <option value="JP">Япония</option>
                                                </select>
                                            </div>
                                            <div style="margin-top:5px; margin-left:5px;">
                                                <span class="redit_caption">{% trans "City:" %}</span><br>
                                                <input type="text" id="f_user_city" class="redit_body" style="width:234px;">
                                            </div>
                                            <div style="margin-top:5px; margin-left:5px;">
                                                <span class="redit_caption">{% trans "Tell other pet owners about yourself:" %}</span><br>
                                                <textarea id="f_user_about" class="redit_body" style="overflow-x:hidden; overflow-y:auto; width:234px; height:250px;"></textarea>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" valign="bottom" class="user_data_box_bottom">
                                            <input name="button" type="button" class="button_sand" onclick="cabinet_update_profile()" value="{% trans "Save" %}">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div style="margin-top:10px;">
                                <div style="width:340px; float:right; text-align:justify; text-indent:1.5em; color:#f24f00; word-break:break-all;">
                                    <p>&nbsp;</p>
                                </div>
                                <table width="248px" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="user_data_box_top" style="pading-top:5px;">
                                            <div style="margin-top:5px; margin-left:5px;">
                                                <span class="redit_caption">{% trans "I want to see:" %}</span><br>
                                                <select class="redit_body" id="f_user_filter_mycountry" style="width:238px;">
                                                    <option value="True">{% trans "Pets of my country" %}</option>
                                                    <option value="False">{% trans "Pets from around the world" %}</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" valign="bottom" class="user_data_box_bottom">
                                            <input name="button" type="button" class="button_sand" onclick="cabinet_save_myfilter()" value="{% trans "Save" %}">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div style="margin-top:10px;">
                                <div style="width:340px; float:right; text-align:justify; text-indent:1.5em; color:#f24f00; word-break:break-all;">
                                    <p>Если при восстановлении доступа, предложенный нами пароль Вам показался не понравился, Вы всегда можете воспользоваться формой изменения пароля.</p>
                                </div>
                                <table width="248px" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="user_data_box_top" style="pading-top:5px;">
                                            <!--div style="margin-top:5px; margin-left:5px;">
                                                <span class="redit_caption">e-Mail:</span><br>
                                                <input type="text" id="f_user_nic" class="redit_body" style="width:234px;">
                                            </div-->
                                            <div style="margin-top:5px; margin-left:5px;">
                                                <span class="redit_caption">{% trans "You new password:" %}</span><br>
                                                <input type="password" id="f_new_password" class="redit_body" style="width:234px;">
                                            </div>
                                            <!--center><div style="width:234px; height:1px; background-color:#f24f00; margin:10px 0px;"></div></center>
                                            <div style="margin-top:5px; margin-left:5px;">
                                                <span class="redit_caption">Текущий пароль:</span><br>
                                                <input type="text" id="f_user_town" class="redit_body" style="width:234px;">
                                            </div-->
                                            <div style="margin-top:5px; margin-left:5px;">
                                                <span class="redit_caption">{% trans "Confirm new password:" %}</span><br>
                                                <input type="password" id="f_confirmation" class="redit_body" style="width:234px;">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" valign="bottom" class="user_data_box_bottom radius_0006">
                                            <input name="button" type="button" class="button_sand" onclick="cabinet_change_password()" value="{% trans "Save" %}">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- Глобальные новости, Анонсы мероприятий и т.п. (начало)-->
                        <div class="cabinet_column" style="width:182px; background-color:#ffffcc;">
                            <!--div style="margin-top:10px;">
                                <div style="font-size:8px; text-align:right;">9/09/2013</div>
                                <div style="font-size:12px; text-align:center; font-weight:bold; color:#f24f00;">Дорогие друзья!</div>
                                <div style="font-size:10px; text-align:justify; word-wrap:break-word; margin-top:4px; color:#f24f00;">&nbsp;&nbsp;Мы рады сообщить об окончании работ над пилотным проектом MiXiM.<br>&nbsp;&nbsp;Учитывая Ваши пожелания, мы улучшили интерфейс программных продуктов, внесли ряд изменений в систему поиска, открыли доступ к личным страницам пользователя и добавили ряд интересных функций, с которые не останутся вами не замеченными.</div>
                            </div>
                            <div style="margin-top:10px;">
                                <div style="font-size:8px; text-align:right;">6/06/2013</div>
                                <div style="font-size:12px; text-align:center; font-weight:bold; color:#f24f00;">Спасибо!</div>
                                <div style="font-size:10px; text-align:justify; word-wrap:break-word; margin-top:4px; color:#f24f00;">&nbsp;&nbsp;Мы хотели поблагодарить всех членов сообщества, которые не остались безучастными и помогли нам с определением приоритетов дальнейшего развития MiXiM.<br>&nbsp;&nbsp;Ваши рекомендации и замечания нам очень помогли.<br>&nbsp;&nbsp;В данный момент ведется нами активная работа над пилотным проектом, который станет переходным к финальной версии, нашего с вами сообщества.</div>
                            </div>
							<br>
                            <div style="margin-top:10px;">
                                <div style="font-size:8px; text-align:right;">12/05/2013</div>
                                <div style="font-size:12px; text-align:center; font-weight:bold; color:#f24f00;">Мы открылись!</div>
                                <div style="font-size:10px; text-align:justify; word-wrap:break-word; margin-top:4px; color:#f24f00;">&nbsp;&nbsp;Сегодня мы открываем проект «MiXiM» для посетителей. Этот проект будет полезен всем тем, кто хочет разделиться счастье общения и дружбы с животными, с окружающими. Мы так же надеемся помочь в духовном росте, желающим завести питомцев, а так же самим животным, найти защиту в дружбе с человеком.</div>
                            </div-->
                        </div>
                        <!-- Глобальные новости, Анонсы мероприятий и т.п. (конец)-->
                    </td>
                </tr>
            </table>
            <br>
        </td>
    </tr>
</table>
<!-- Окно сообщений (начало) - по умолчанию скрыто -->
{% include 'include/footer.html' %}
<!-- Окно сообщений (конец) -->

<!-- Окно сообщений (начало) - по умолчанию скрыто -->
<div id="info_window" style="display:none">
	<table class="info_table" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <div id="message1" class="info_message">Текст</div>
            </td>
        </tr>
        <tr>
            <td height="30" align="center"><input type="submit" name="Submit2" value="Закрыть" style="background-color:#f24f00; color:#ffff99; cursor:hand;"></td>
        </tr>
    </table>
</div>
<!-- Окно сообщений (конец) -->

<!-- Окно фотографии (начало) - по умолчанию скрыто -->
{% include 'include/photo_win.html' %}
<!-- Окно фотографии (конец) -->

{% include 'include/message_box.html' %}

<!-- Блок затенения (начало)-->
    <div id="overlay"></div>
<!-- Блок затенения (конец)-->

<!-- География сообщества (начало) -->
{% include 'include/geo.html' %}
<!-- География сообщества (конец) -->

<!-- Пишите письма (начало) -->
{% include 'include/feedback.html' %}
<!-- Пишите письма (конец) -->

<!-- Регламент (начало) -->
{% include 'include/rules.html' %}
<!-- Регламент (конец) -->

<!-- О проекте (начало) -->
{% include 'include/about.html' %}
<!-- О проекте (конец) -->

<!-- Добавлени питомца (начало)-->
{% include 'include/addpet.html' %}
<!-- Добавлени питомца (конец)-->

{% include 'include/media_upload.html' %}
{% include 'include/avatar_upload.html' %}

<!-- Google Analytic (начало) -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40365184-1', 'mixim.ru');
  ga('send', 'pageview');

</script>
<!-- Google Analytic (конец) -->

</body>
</html>
