<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html>
    <head>
        <title>{% trans 'MiXiM - for those who love pets' %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta NAME="description" CONTENT="Сообщество любителей собак, кошек и других животных, где можно выкладывать фотографии своих питомцев, участвовать в конкурсах, голосованиях и оставлять комментарии">
        <meta NAME="keywords" CONTENT="собаки, кошки, бабочки, богомолы, многоножки, пауки, мадагаскарские тараканы, муравьи, попугаи, канарейки, щеглы, ястребы, соколы, соловьи, перепела, голуби, шиншилы, мышки, морские свинки, крысы, кролики, хомячки, ежики, песчанки, хорьки, аквариумные рыбки, улитки, змеи, лягушки, черепахи, лошади, пони">
        <meta NAME="AUTHOR" CONTENT="www.mobitoon.ru">

        <link href="/css/style_theme_01.css" rel="stylesheet" type="text/css">
        <link href="css/jquery-ui.css" rel="stylesheet" type="text/css">


        <script src="/js/underscore-min.js"></script>
        <script src="/js/backbone-min.js"></script>
        <script src="/js/jquery-1.8.3.js"></script>
        <script src="/js/vendor/jquery.ui.widget.js"></script>
        <script src="/js/jquery-ui.js"></script>
        <script src="/js/jquery.iframe-transport.js"></script>
        <script src="/js/jquery.fileupload.js"></script>
        <script src="/js/jquery.populate.js"></script>
        <script src="/js/sprintf.min.js"></script>
        <script src="/js/app/translations-{{ LANGUAGE_CODE }}.js"></script>
        <script src="/js/app/init.js"></script>
        <script src="/js/app/api.js"></script>
        <script src="/js/app/util.js"></script>
        <script src="/js/app/gallery.js"></script>
        <script src="/js/app/keydown.js"></script>
        <script src="/js/app/ui.js"></script>
        <script src="/js/app/cabinet.js"></script>
        <script src="/js/app/auth.js"></script>
    </head>
    <body>
<!-- Блок затенения -->
        <script type="text/javascript">
            function overlay_show() {
                $('#overlay').css("height", $(document).height());
                $('#overlay').show();
            };
        </script>
        <div id="overlay"></div>
<!-- /Блок затенения -->

        <script type="text/javascript">
            $(document).ready(function(){
                $('.google_play').on('mouseenter', function(){
                    $('.google_play').animate({width:'160px'});
                }).on('mouseleave', function(){
                    $('.google_play').animate({width:'46px'});
                });
            });
        </script>

        <table class="bkg_media" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td valign="top" height="180px">
                    <div class="box_980px">
                        <div class="cabinet_to_userpage">Все фотографии доступны на Вашей персональной странице, по адресу: <a class="f_goto_userpage" target="_blank"></a></div>
                        <div class="media_upload_box">
                            <div class="s__media_upload_win_open add_photo_big finger" title="{% trans 'Add picture' %}">
                                <div class="s__logged">
                                    <input class="media_file" name="file" type="file" data-url="/json/media/upload/" accept="image/jpeg" style="width:1000px; font-size:150px; margin-left:-410px; margin-top:0px; filter:alpha(opacity=0); opacity:0; -moz-opacity:0; cursor: pointer;">
                                </div>
                            </div>
                        </div>
                        <div class="app_links">
                            <a class="google_play finger" href="https://play.google.com/store/apps/details?id=ru.mixim" target="_blank" title="{% trans 'Available on Google play' %}"></a>
                            <div class="app_links_slogan">Всегда на связи<br>с новым приложением<br><b>MiXiM</b></div>
                        </div>
                        <a class="logo_media" href="../media.shtml" title="{% trans 'On the main page' %}" target="_self"></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td height="120px" valign="top">
                    <script type="text/javascript">
                        IMG_PER_ROW = 8;
                        IMG_PER_COL = 1;
                    </script>
                    <table align="center" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="26" class="media_page_list_bkg">
                                <div onclick="javascript:prevPage()" class="media_prevpage finger" title="{% trans 'Next page' %}"></div>
                            </td>
                            <td width="928" align="center" valign="middle">
                                <table cellpadding="0" cellspacing="6" id="image_container"></table>
                            </td>
                            <td width="26" class="media_page_list_bkg">
                                <div onclick="javascript:nextPage()" class="media_nextpage finger" title="{% trans 'Previous page' %}"></div>
                            </td>
                        </tr>
                    </table>                    
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <div class="cabinet_info_box">
                        <div class="cabinet_info_container">
                            <h1>Дорогие друзья!</h1>
                            <p>Учитывая Ваши пожелания, мы улучшили интерфейс наших продуктов, внесли ряд изменений в систему поиска, открыли доступ к личным страницам пользователя и добавили ряд интересных функций, с которые не останутся вами не замеченными.</p>
                        </div>
                    </div>
                    <div class="cabinet_menu_box">
                        <div class="cabinet_menu_trec"></div>
                        <div class="cabinet_user_avatar_box">
                            <div class="cabinet_user_avatar">
                                <img id="avatar" src="../images/user_unisex.png" border="0" alt="{% trans 'Change the thumbnail...' %}">
                                <input id="avatar_file" name="avatar" type="file" accept="image/jpeg" data-url="/json/media/avatarupload/" style="width:1000px; font-size:150px; margin-left:-410px; margin-top:0px; filter:alpha(opacity=0); opacity:0; -moz-opacity:0; cursor: pointer; z-index:1;">
                            </div>
                            <div class="cabinet_user_avatar_deletetip">
                                <div>
                                    {% trans 'Change the thumbnail...' %}
                                </div>
                            </div>
                        </div>
                        <div id="cabinet_news_link" class="cabinet_user_menu_button_off">{% trans 'Messages' %}</div>
                        <div id="cabinet_discussion_link" class="cabinet_user_menu_button">{% trans 'Discussions' %}</div>
                        <div id="cabinet_like_link" class="cabinet_user_menu_button">{% trans 'Ratings' %}</div>
                        <div id="cabinet_follow_link" class="cabinet_user_menu_button">{% trans 'Follows' %}</div>
                        <br>
                        <div id="cabinet_pets_link" class="cabinet_user_menu_button"><a>{% trans 'Pets' %}</a></div>
                        <div id="cabinet_mine_link" class="cabinet_user_menu_button"><a>{% trans 'Personal data' %}</a></div>
                        <div id="cabinet_settings_link" class="cabinet_user_menu_button"><a>{% trans 'Settings' %}</a></div>
                        <br>
                        <div class="cabinet_user_menu_button" onclick="auth_logout()">{% trans 'Exit' %}</div>
                    </div>
                    <div class="cabinet_body_box">
                        <!-- Сообщения -->
                        <div id="cabinet_news" class="s__cabinet_block">
                            <div class="cabinet_inout">
                                <div class="cabinet_in_tip_box">
                                    <div class="cabinet_in_tip">
                                        <div>
                                            {% trans 'Inbox' %}
                                        </div>
                                    </div>
                                    <div id="inbox_pet_new_window_link" class="cabinet_inbox opa50"></div>
                                </div>
                                <div class="cabinet_out_tip_box">
                                    <div class="cabinet_out_tip">
                                        <div>
                                            {% trans 'Outbox' %}
                                        </div>
                                    </div>
                                    <div id="outbox_pet_new_window_link" class="cabinet_outbox finger"></div>
                                </div>
                            </div>
                            <div id="last_comments_id">
                            </div>
                        </div>
                        <!-- /Сообщения -->                    
                        <!-- Обсуждения -->
                        <div id="cabinet_discussion" class="s__cabinet_block" style="display:none;"></div>
                        <!-- /Обсуждения -->
                        <!-- Оценки -->
                        <div id="cabinet_like" class="s__cabinet_block" style="display:none;">
                        </div>
                        <!-- /Оценки -->
                        <!-- Подписки -->
                        <div id="cabinet_follow" class="s__cabinet_block" style="display:none;">
                        </div>
                        <!-- /Подписки -->

                        <!-- Питомцы -->
                        <div id="cabinet_pets" class="s__cabinet_block" style="display:none;">
                            <div class="add_pet_button">
                                <div id="pet_new_window_link" class="add_pet_big finger" title="{% trans 'Add pet' %}"></div>
                            </div>
                            
                            <div id="pet_list"></div>

                            <div id="pet_template" style="display:none">
                                <div class="cabinet_pet_box">
                                    <a id="pet_upload_photo_link_{id}" class="cabinet_tumbox finger" title="{% trans 'Add picture' %}">
                                        <img id="pet_last_picture_{id}" src="../images/absent.png">
                                    </a>
                                    <div class="cabinet_pet_buttons finger">
                                            <a id="pet_enable_link_{id}" class="finger">{% trans 'Enable' %}</a>
                                            <a id="pet_disable_link_{id}" class="finger">{% trans 'Disable' %}</a>
                                            &nbsp;|&nbsp;
                                            <a id="pet_edit_window_link_{id}" class="finger">{% trans 'Change' %}</a>
                                    </div>
                                    <span class="cabinet_message_info"><a href="" target="_blank">{name}</a>:</span>
                                    <div class="cabinet_message">
                                        <p id="pet_birthday_{id}"><b>{% trans 'Date of Birth:' %}</b> {birthday}</p>
                                        <p id="pet_gender_{id}"><b>{% trans 'Gender:' %}</b> {gender_name}</p>
                                        <p id="pet_color_{id}"><b>{% trans 'Color:' %}</b> {color}</p>
                                        <p id="pet_breed_{id}"><b>{% trans 'Breed:' %}</b> {breed}</p>
                                        <p id="pet_about_{id}"><b>{% trans 'Additional Information:' %}</b> {about}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Питомцы-->
                        <!-- Личные данные -->
                        <div id="cabinet_mine" class="s__cabinet_block" style="display:none;">
                            <input type="text" id="f_user_firstname" class="cabinet_mine_input_firstname" placeholder="{% trans 'First Name:' %}">
                            <input type="text" id="f_user_lastname" class="cabinet_mine_input_lastname" placeholder="{% trans 'Last Name:' %}">
                            <div class="cabinet_mine_gender">
                                <div class="cabinet_mine_select_caption">{% trans 'Gender:' %}</div>
                                <select id="f_user_gender" class="cabinet_mine_select">
                                    <option value=""></option>
                                    <option value="M">{% trans 'Male' %}</option>
                                    <option value="F">{% trans 'Female' %}</option>
                                </select>
                            </div>
                            <input type="text" id="f_user_birthday" class="cabinet_mine_input_birthday" placeholder="{% trans 'Date of Birth:' %}">
                            <div class="cabinet_mine_location">
                                <input type="text" id="f_user_location" class="cabinet_mine_input_location" placeholder="{% trans 'Type your location' %}">
                                <div id="map_canvas" class="cabinet_mine_map"></div>
                                <input type="hidden" id="f_user_country">
                                <input type="hidden" id="f_user_city">
                                <input type="hidden" id="f_user_address">
                                <input type="hidden" id="f_user_latitude">
                                <input type="hidden" id="f_user_longitude">
                            </div>
                            <textarea id="f_user_about" class="cabinet_mine_textarea" placeholder="{% trans 'Tell other pet owners about yourself:' %}"></textarea>
                            <center>
                                <div class="button_input savebox_bttn finger" onclick="cabinet_update_profile()" title="{% trans 'Save' %}">{% trans 'Save' %}</div>
                            </center>
                        </div>
                        <!-- /Личные данные -->
                        <!-- Настройки -->
                        <div id="cabinet_settings" class="s__cabinet_block" style="display:none;">
                            <div class="cabinet_mine_mycountry">
                                <div class="cabinet_mine_mycountry_caption">{% trans 'I want to see:' %}</div>
                                <select id="f_user_filter_mycountry" class="cabinet_mine_mycountry_select">
                                    <option value="True">{% trans 'Pets of my country' %}</option>
                                    <option value="False">{% trans 'Pets from around the world' %}</option>
                                </select>
                            </div>
                            <center>
                                <div class="button_input savebox_bttn finger" onclick="cabinet_save_myfilter()" title="{% trans 'Save' %}">{% trans 'Save' %}</div>
                            </center>
                            <br><br>
                            <div>
                                <div class="cabinet_mine_new_password_tool">
                                    <div>
                                        {% trans 'If you are not satisfied with your password, you can always change it.' %}
                                    </div>
                                </div>
                                <input type="password" id="f_new_password" class="cabinet_mine_input_new_password" placeholder="{% trans 'You new password:' %}">
                                <input type="password" id="f_confirmation" class="cabinet_mine_input_confirmation" placeholder="{% trans 'Confirm new password:' %}">
                            </div>
                            <center>
                                <div class="button_input savebox_bttn finger" onclick="cabinet_change_password()" title="{% trans 'Save' %}">{% trans 'Save' %}</div>
                            </center>
                        </div>
                        <!-- /Настройки -->
                    </div>
                </td>
            </tr>
        </table>
<!-- Подвал -->
{% include 'include/footer.html' %}
<!-- /Подвал -->

<!-- Окно фотографии -->
{% include 'include/photo_win.html' %}
<!-- /Окно фотографии -->
            
<!-- Окно сообщений -->
{% include 'include/message_box.html' %}
<!-- /Окно сообщений -->

<!-- География сообщества -->
{% include 'include/geo.html' %}
<!-- /География сообщества -->

<!-- Загрузка изображений -->
{% include 'include/media_upload.html' %}
<!-- /Загрузка изображений -->

<!-- Загрузка аватара -->
{% include 'include/avatar_upload.html' %}
<!-- /Загрузка аватара -->

<!-- Добавлени питомца -->
{% include 'include/addpet.html' %}
<!-- /Добавлени питомца -->

<!-- Аналитика -->
{% include 'include/analytics.html' %}
<!-- /Аналитика -->

<div id="pet_template"></div>
        </body>
    <script src="http://maps.google.com/maps/api/js?libraries=places&sensor=false&language={{ LANGUAGE_CODE }}"></script>
    <script>
        function init_gmap() {
            var f_loc = document.getElementById('f_user_location');
            f_loc.value = $('#f_user_address').val() || '';

            var lat = Number($('#f_user_latitude').val()) || 55.755826,
                lng = Number($('#f_user_longitude').val()) || 37.6173,
                latlng = new google.maps.LatLng(lat, lng);

            var mapOptions = {
                    center: new google.maps.LatLng(lat, lng),
                    zoom: 13,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                },
                map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions),
                marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    draggable: true
                });

            var autocomplete = new google.maps.places.Autocomplete(f_loc, {types: ["geocode"]});

            autocomplete.bindTo('bounds', map);

            function setPlace(place) {
                geo = place.geometry;

                var country_item = _.find(place.address_components, function (item) {
                    return _.contains(item.types, 'country');
                });

                if (country_item) {
                    $('#f_user_country').val(country_item.short_name);
                }

                var city_item = _.find(place.address_components, function (item) {
                    return _.contains(item.types, 'locality');
                });

                if (city_item) {
                    $('#f_user_city').val(city_item.short_name);
                }

                $(f_loc).val(place.formatted_address);
                $('#f_user_address').val(place.formatted_address);
                if (geo) {
                    marker.setPosition(place.geometry.location);
                    $('#f_user_latitude').val(geo.location.lat());
                    $('#f_user_longitude').val(geo.location.lng());
                }
            }

            google.maps.event.addListener(autocomplete, 'place_changed', function() {
                var place = autocomplete.getPlace();
                if (!place || !place.geometry) return;
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                }
                else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);
                }
                setPlace(place);
            });

            google.maps.event.addListener(map, 'click', function (event) {
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({ "latLng": event.latLng }, function(results, status) {
                    if (status != google.maps.GeocoderStatus.OK) {
                        return;
                    }
                    setPlace(results[0]);
                });
            });
        }

        $(function() {
            // move to extended jquery script to prevent to call it twice
            $.each(['show', 'hide'], function (i, ev) {
                var el = $.fn[ev];
                $.fn[ev] = function () {
                    this.trigger(ev);
                    el.apply(this, arguments);
                    this.trigger('after' + ev);
                };
            });

            var gmap_initialized = false;
            $('#cabinet_mine').on('aftershow', function() {
                if (!gmap_initialized) {
                    init_gmap();
                    gmap_initialized = true;
                }
            });
        });
    </script>
</html>
