<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html>
<head>
<title>{% trans "MiXiM - for those who love pets" %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="css/style.css" rel="stylesheet" type="text/css">

<script src="/js/underscore-min.js"></script>
<script src="/js/backbone-min.js"></script>
<script src="/js/jquery-1.8.3.min.js"></script>
<script src="/js/vendor/jquery.ui.widget.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/jquery.iframe-transport.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script src="/js/jquery.populate.js"></script>
<script src="/js/sprintf.min.js"></script>
<script src="/js/app/translations-{{ LANGUAGE_CODE }}.js"></script>
<script src="/js/app/init.js"></script>
<script src="/js/app/api.js"></script>
<script src="/js/app/util.js"></script>
<script src="/js/app/gallery.js"></script>
<script src="/js/app/keydown.js"></script>
<script src="/js/app/ui.js"></script>
<!--script src="/js/app/slide.js"></script-->
<script src="/js/app/carusel.js"></script>
<script src="/js/app/index.js"></script>
<script src="/js/app/auth.js"></script>

<script type="text/javascript">
    IMG_PER_ROW = 7;
    IMG_PER_COL = 1;
</script>

<script type="text/javascript">
    var bubble_os;
    var bubble_login;
    var phone_position;
    function changeOsBubble(bubble_os, bubble_login, phone_position){
        if (bubble_login = '1') {
        document.getElementById('bubble_' + bubble_os + '_login').src = '../images/' + bubble_os + '_bubble.png';
        document.getElementById('bubble_phone_login').style.backgroundPosition = phone_position + 'px, top';
        }
//        if (bubble_login = '0') {
//        document.getElementById('bubble_' + bubble_os).src = '../images/' + bubble_os + '_bubble.png';
//        document.getElementById('bubble_phone').style.backgroundPosition = phone_position + 'px, top';
//        }
    };
</script>
</head>

<body class="index">
<div id="show_qr" class="show_qr_window" style="width:372px; left:280px; top:267px;">
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td class="show_qr_box">
                <img src="images/qr_android_ru.png" width="300" height="300" border="0">
            </td>
            <td width="68px" align="right" valign="top">
                <br><img src="images/qr_window_arrow2.png" width="62" height="34" border="0">
            </td>
        </tr>
    </table>
</div>

<!-- Главное меню (Навигация) (начло) -->
{% include 'include/navi.html' %}
<!-- Главное меню (Навигация) (конец) -->

<!-- Переключения кластеров (начало) -->
{% include 'include/clusters.html' %}
<!-- Переключения кластеров (конец) -->

<!-- Блок авторизации, регистрации и востановления пароля (начало) -->
{% include 'include/login.html' %}
<!-- Блок авторизации, регистрации и востановления пароля (конец) -->


<table align="center" width="980" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="75px">
        <img src="../images/bubble_smoke.gif" width="80" height="57" style="position:absolute; margin-left:70px; top:0;">
        <a class="glory_medal_index">
            <img src="../images/{% trans "glory_soon_en.png" %}" width="120" height="48" style="margin:36px 0 0 7px;">
        </a>
        <a href="../media.shtml" title="{% trans "Go to the main page" %}" target="_self" class="logo_new">
            <img src="../images/logo.png" width="156" height="46" border="0" alt="{% trans "Go to the main page" %}">
        </a>
    </td>
  </tr>
  <tr>
    <td height="141px" valign="top">
        <a href="media.shtml" class="media_1_openscreen">
            <img src="../images/media.png" width="40" height="40" border="0" alt="{% trans "Expand to gallery" %}">
            {% trans "&nbsp;&nbsp;&nbsp;&nbsp;Expand&nbsp;&nbsp;&nbsp;&nbsp;" %}
        </a>
        <div class="media_1_pagelist">
            <a href="javascript:nextPage()" class="media_1_nextpage">{% trans "Forward" %} &#187;</a>
            <a href="javascript:prevPage()" class="media_1_prevpage">&#171; {% trans "Back" %}</a>
        </div>
        <div style="width:842px; height:121px;"> <!-- вынести в перед над всеми - position:relative; z-index:10;-->
            <span class="media_1_row_line_name">{% trans "New photos"%}</span>
            <table class="media_1_row_line" style="width:100%; height:100%;">
                <tr>
                    <td align="center">
                        <table cellpadding="0" cellspacing="6" id="image_container"></table>
                    </td>
                </tr>
            </table>
        <div>
        <table class="carusel_index_navi" onmouseover="clearInterval(carusel_slide_interval_id)" onmouseout="carusel_slide_interval_id = setInterval(change_slide_auto, carusel_slide_time);">
            <tr>
                <td>
                    <div class="carusellement_1" onclick="change_slide(1);" style="-moz-opacity:1; -khtml-opacity:1; opacity:1;"></div>
                </td>
                <td>
                    <div class="carusellement_2" onclick="change_slide(2);"></div>
                </td>
                <td>
                    <div class="carusellement_3" onclick="change_slide(3);"></div>
                </td>
            </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td height="428px" valign="top"> <!--class="slides"-->
        <div id="slide_1">
            <span class="last_comments_block_name">{% trans "Actual comments" %}</span>
            <div class="last_comments_block">
                <div id="sid__my_comments" class="last_comments_hide_scroll">
                </div>
            </div>
            <img src="../images/{% trans "slogan_2_en.png" %}" class="slides_slogan_1">
            <a class="slides_slogan_2">
                <img src="../images/1.png">
                {% trans "The number One online community for<br>pet owners and their pets!" %}
            </a>
            <a class="slides_slogan_3">
                <img src="../images/2.png">
                {% trans "A unique and original<br>picture exchange service!" %}
            </a>
            <a class="slides_slogan_4">
                <img src="../images/3.png">
                {% trans "Pageants, exhibitions<br>and other events!" %}
            </a>
            <a class="slides_slogan_5">
                <img src="../images/4.png">
                {% trans "A unique way to search for<br>and rank awesome pictures!" %}
            </a>
        </div>
        <div id="slide_2" style="display:none;">
            <img src="../images/{% trans "slogan_en.png" %}" class="slides_slogan_6">
            <a class="slides_slogan_7">
                <img src="../images/5.png">
                {% trans "A new mobile app:<br><b>absolutely free!</b>" %}
            </a>
            <a class="slides_slogan_8">
                <img src="../images/6.png">
                {% trans "Publish your photo<br>reports in real time!" %}
            </a>
            <a class="slides_slogan_9">
                <img src="../images/7.png">
                {% trans "Here you can always be in<br>touch: online blogs & chats!" %}
            </a>
            <table align="right" width="465" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="158" valign="top" class="markets_links">
                        <a href="https://play.google.com/store/apps/details?id=ru.mixim" title="{% trans "Available on Google play" %}"><img src="images/{% trans "app_google_play_en.png" %}" width="141" height="46" border="0" alt="{% trans "Available on Google play" %}" onmouseover="document.getElementById('show_qr').style.display = 'block';" onmouseout="document.getElementById('show_qr').style.display = 'none';"></a>
                    </td>
                    <td id="bubble_phone_login" width="207" valign="top" class="phone"><!-- работать с контентом отдельным классом, центрировать маргином-->
                        <div style="margin-left:12px; margin-top:66px;">
                            <img src="../images/phone_screen_slide.png" alt="Pets!" title="Pets!" width="183" height="277">
                        </div>
                    </td>
                    <td width="100" align="right">
                        <img id="bubble_android_login" src="../images/android_bubble.png" onmouseover="changeOsBubble('android','1','0');" alt="{% trans "Android app" %}" title="{% trans "Android app" %}" width="84" height="84">
                        <br>
                        <br>
                        <br>
                        <img id="bubble_windows_login" src="../images/transparent_image.gif" onmouseover="changeOsBubble('windows','1','-207');" onmouseout="document.getElementById('bubble_windows_login').src='../images/transparent_image.gif';" alt="{% trans "Windows8 app" %}" title="{% trans "Windows8 app" %}" width="84" height="84">
                        <br>
                        <br>
                        <br>
                        <img id="bubble_apple_login" src="../images/transparent_image.gif" onmouseover="changeOsBubble('apple','1','-414');" onmouseout="document.getElementById('bubble_apple_login').src='../images/transparent_image.gif';" alt="{% trans "iOS app" %}" title="{% trans "iOS app" %}" width="84" height="84">
                    </td>
                </tr>
            </table>
        </div>
        <div id="slide_3" style="display:none;">
            <img src="../images/id_slide_1_bkg.png" style="position:absolute;">
            <img src="../images/{% trans "slogan_3_en.png" %}" class="slides_slogan_10">
            <a class="slides_slogan_11">
                <img src="../images/8.png">
                {% trans "User Profiles<br>for Pets!" %}
            </a>
            <a class="slides_slogan_12">
                <img src="../images/9.png">
                {% trans "Personal pages for<br>groups & individuals!" %}
            </a>
            <a class="slides_slogan_13">
                <img src="../images/10.png">
                {% trans "Join us now:<br><b>IT’S FREE!</b>" %}
            </a>
        </div>
        <!--div id="slide_4" style="display:none;">
            А вот третий бокс.
        </div-->
    </td>
  </tr>
  <tr>
    <td height="50px">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">
        <!--table id="bodyes" border="0" cellspacing="0" cellpadding="0" style="background-image:url(../images/{% trans "bodyes1_en.gif" %});">
            <tr>
                <td width="107px">&nbsp;</td>
                <td valign="middle">
                    <div class="counter"></div>
                </td>
            </tr>
        </table-->
    </td>
  </tr>
</table>
<!-- Окно сообщений (начало) - по умолчанию скрыто -->
{% include 'include/footer.html' %}
<!-- Окно сообщений (конец) -->


<!-- Окно сообщений (начало) - по умолчанию скрыто -->
{% include 'include/message_box.html' %}
<!-- Окно сообщений (конец) -->

<!-- Окно фотографии (начало) - по умолчанию скрыто -->
{% include 'include/photo_win.html' %}
<!-- Окно фотографии (конец) -->

<!-- Блок затенения (начало)-->
    <div id="overlay"></div>
<!-- Блок затенения (конец)-->

<!-- География сообщества (начало) -->
{% include 'include/geo.html' %}
<!-- География сообщества (конец) -->

<!-- Пишите письма (начало) -->
{% include 'include/feedback.html' %}
<!-- Пишите письма (конец) -->

<!-- Регламент (начало) -->
{% include 'include/rules.html' %}
<!-- Регламент (конец) -->

<!-- О проекте (начало) -->
{% include 'include/about.html' %}
<!-- О проекте (конец) -->

<!-- Загрузка фотографий (начало) -->
{% include 'include/media_upload.html' %}
<!-- Загрузка фотографий (конец) -->

<!-- Google Analytic (начало) -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40365184-1', 'mixim.ru');
  ga('send', 'pageview');

</script>
<!-- Google Analytic (конец) -->
</body>
</html>
