<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html>
    <head>
        <title>{% trans 'MiXiM - for those who love pets' %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta NAME="description" CONTENT="Сообщество любителей собак, кошек и других животных, где можно выкладывать фотографии своих питомцев, участвовать в конкурсах, голосованиях и оставлять комментарии">
        <meta NAME="keywords" CONTENT="собаки, кошки, бабочки, богомолы, многоножки, пауки, мадагаскарские тараканы, муравьи, попугаи, канарейки, щеглы, ястребы, соколы, соловьи, перепела, голуби, шиншилы, мышки, морские свинки, крысы, кролики, хомячки, ежики, песчанки, хорьки, аквариумные рыбки, улитки, змеи, лягушки, черепахи, лошади, пони">
        <meta NAME="AUTHOR" CONTENT="www.mobitoon.ru">

        <link href="css/style_theme_01.css" rel="stylesheet" type="text/css">

        <script src="/js/underscore-min.js"></script>
        <script src="/js/backbone-min.js"></script>
        <script src="/js/jquery-1.8.3.min.js"></script>
        <script src="/js/vendor/jquery.ui.widget.js"></script>
        <script src="/js/jquery-ui.js"></script>
        <script src="/js/jquery.iframe-transport.js"></script>
        <script src="/js/jquery.fileupload.js"></script>
        <script src="/js/jquery.populate.js"></script>
        <script src="/js/sprintf.min.js"></script>
        <script src="/js/app/translations-{{ LANGUAGE_CODE }}.js"></script>
        <script src="/js/app/init.js"></script>
        <script src="/js/app/api.js"></script>
        <script src="/js/app/util.js"></script>
        <script src="/js/app/gallery.js"></script>
        <script src="/js/app/keydown.js"></script>
        <script src="/js/app/ui.js"></script>
        <script src="/js/app/carusel.js"></script>
        <script src="/js/app/index.js"></script>
        <script src="/js/app/auth.js"></script>
        <script src="/js/app/share42.js"></script>

        <script type="text/javascript">
            IMG_PER_ROW = 7;
            IMG_PER_COL = 1;
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                var slideLeft;
                var slideLeft_2;
                var documentWidth = $(document).width();
                function set_slide_position(){
                    slideLeft = parseInt(( $(".slide_bkg").width() - 1600 ) / 2, 10);
                    $(".slide_container").css("left", slideLeft + "px");
                    slideLeft_2 = parseInt(( $(".slide_bkg").width() - 2400 ) / 2, 10);
                    $(".slide_container_2").css("left", slideLeft_2 + "px");
                }
                set_slide_position();
                $(window).resize(function() {
                    set_slide_position();
                    documentWidth = $(document).width();
                });
                $(document).mousemove(function(e){
                    $(".slide_container").css("left", slideLeft + parseInt((documentWidth / 2 - e.pageX) / 5) + "px");
                    $(".slide_container_2").css("left", slideLeft_2 - parseInt((documentWidth / 2 - e.pageX) / 15) + "px");
                });

            });
        </script>
        
    </head>
    <body>
<!-- Анимация фона -->
        <div class="slide_bkg">
            <div class="slide_container"></div>
            <div class="slide_container_2"></div>
        </div>
<!-- /Анимация фона -->

<!-- Блок затенения -->
        <script type="text/javascript">
            function overlay_show() {
                $('#overlay').css("height", $(document).height());
                $('#overlay').show();
            };
        </script>
        <div id="overlay"></div>
<!-- /Блок затенения -->

<!-- Главное меню (Навигация) -->
{% include 'include/navi.html' %}
<!-- /Главное меню (Навигация) -->

<!-- Блок авторизации, регистрации и востановления пароля (начало) -->
{% include 'include/login.html' %}
<!-- /Блок авторизации, регистрации и востановления пароля (конец) -->

        <script type="text/javascript">
            $(document).ready(function(){
                $('#slogan_1').on('mouseenter', function(){
                    $('.slogan_1_el1').animate({width:'360px', height:'360px', margin:'50px 0 0 480px'});
                    setTimeout(function(){
                        $('.slogan_1_el2').fadeIn();
                    }, 500);
                    setTimeout(function(){
                        $('.slogan_1_el3').fadeIn();
                    }, 700);
                    
                    $('.slogan_1_el4').animate({width:'180px', height:'180px', margin:'200px 0 0 250px'});
                    setTimeout(function(){
                        $('.slogan_1_el5{% trans "_en" %}').fadeIn();
                    }, 500);
                }).on('mouseleave', function(){
                    setTimeout(function(){
                        $('.slogan_1_el5{% trans "_en" %}').fadeOut();
                        setTimeout(function(){
                            $('.slogan_1_el4').animate({width:'0px', height:'0px', margin:'380px 0 0 250px'});
                        }, 300);
                        
                        $('.slogan_1_el3').fadeOut();
                        setTimeout(function(){
                            $('.slogan_1_el2').fadeOut();
                        }, 300);
                        setTimeout(function(){
                            $('.slogan_1_el1').animate({width:'0px', height:'0px', margin:'410px 0 0 840px'});
                        }, 500);
                    }, 4000);
                });
            });
        </script>
        <table class="bkg_index" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td valign="top" height="820px">
                    <div class="box_980px">
                        <a href="../media.shtml" class="media_1_openscreen">
                            <div class="media_1_openscreen_ball" title="{% trans 'Expand to gallery' %}"></div>
                            <div class="media_1_openscreen_text">
                                {% trans '&nbsp;&nbsp;&nbsp;&nbsp;Expand&nbsp;&nbsp;&nbsp;&nbsp;' %}
                            </div>
                        </a>
                        <a class="logo_index" href="../media.shtml" target="_self" title="{% trans 'Go to the main page' %}"></a>
                        <div class="media_1_row_line">
                            <div class="media_1_pagelist">
                                <div onclick="javascript:nextPage()" class="media_1_nextpage finger" title="{% trans 'Previous page' %}"></div>
                                <div onclick="javascript:prevPage()" class="media_1_prevpage finger" title="{% trans 'Next page' %}"></div>
                            </div>
                            <span class="media_1_row_line_name">{% trans 'New photos' %}</span>
                            <div class="media_1_row_line_container_box">
                                <table align="center" cellpadding="0" cellspacing="6" id="image_container"></table>
                            </div>
                        </div>
                    </div>
                    <div class="slide_980px">
                        <div id="slogan_1" class="slogan{% trans '_en' %}"></div>
                        <div class="slogan_1_el1"></div>
                        <div class="slogan_1_el2"></div>
                        <div class="slogan_1_el3"></div>
                        <div class="slogan_1_el4"></div>
                        <div class="slogan_1_el5{% trans '_en' %} finger" onclick="window.open('https://play.google.com/store/apps/details?id=ru.mixim', '_blank')" title="{% trans 'Available on Google play' %}"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center" valign="bottom">
                    <table height="160px" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="120px" valign="top">
                                <img src="../images/theme_01/share42_megaphone.png" style="position:absolute; margin-top:-12px; z-index:-10;">
                            </td>
                            <td valign="top">
                                <div class="share42init" data-url="http://{{ hostname }}" data-image="http://{{ hostname }}/images/share_pic_1.jpg"></div>
                            </td>
                            <td width="120px">
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

<!-- Подвал -->
{% include 'include/footer.html' %}
<!-- /Подвал -->

<!-- География сообщества -->
{% include 'include/geo.html' %}
<!-- /География сообщества -->

<!-- Окно сообщений -->
{% include 'include/message_box.html' %}
<!-- /Окно сообщений -->

<!-- Окно фотографии -->
{% include 'include/photo_win.html' %}
<!-- /Окно фотографии -->

<!-- Аналитика -->
{% include 'include/analytics.html' %}
<!-- /Аналитика -->
    </body>
</html>
