{% load i18n %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>{% trans "MiXiM -  for those who love and loves pets" %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="media">
<table width="980px" align="center" height="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="98px" valign="top">
            <div class="logo_media">
                <a href="../" title="{% trans "On the main page" %}" target="_self">
                    <img src="images/logo.png" width="156" height="46" border="0" alt="{% trans "On the main page" %}">
                </a>
            </div>
            <div class="div_404">
                {% trans "Congratulations!" %}
            </div>
        </td>
    </tr>
    <tr>
        <td align="center" class="text_404">
            <h2>{% trans "Registration was successful!" %}</h2>
            <ul>{% trans "You have joined the community MiXiM." %}<br>
            	<li> {% trans "Activate your profile by clicking on the link sent to your e-mail address." %}</li>
            </ul>
        </td>
    </tr>
</table>
<table class="footer" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="footer_text">
            <table align="center" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="400px" align="center">&copy;2006-2014 &nbsp; {% trans "www.mixim.us | pets2show &nbsp; &quot;Mobitoon&quot; Inc." %}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
