{% load i18n %}<!-- Добавление аватарки (начало) -->
    <script>
        function open_uploadavatar() {
            if (!is_logged()) {
                my_alert('', '{% trans "Only registered users can create avatars!" %}');
                return;
            }

            $('body').css('overflow-y', 'hidden');
            $('#overlay').show();
            $('.set_avatar_block').show();
        }

        jQuery(document).ready(function () {
            $('#avatar_file').fileupload({
                dataType: 'json',
                done: function (e, data) {
                    $('a.s__avatar_upload_win_close').click();
                    var response = data.result;
                    if (response.success) {
                        $('#avatar').attr('src', response.result);
                    }
                }
            });

            $('a.s__avatar_upload_win_open').click(open_upload(null));

            $('a.s__avatar_upload_win_close').click(function() {
                $('body').css('overflow-y', 'auto');
                $('#overlay').hide();
                $('.set_avatar_block').hide();
            });
                });
    </script>
        <!-- Окно выбора файла (начало)-->
        <table class="set_avatar_block">
            <tr>
                <td>
                    <table width="460" align="center" border="0" cellspacing="0" cellpadding="0" class="animals_window">
                        <tr>
                            <td class="set_avatar_window_caption"><span>{% trans "Uploading image" %}</span><br><span class="animals_window_tooltip">&nbsp;</span></td>
                            <td align="right" valign="top"><a title="{% trans "Close window" %}" class="s__avatar_upload_win_close finger"><img src="../images/photo_close.png" width="19" height="19" border="0" alt="{% trans "Close window" %}" title="{% trans "Close window" %}"></a></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td>
                                            <div class="set_avatar_box">
                                                <div style="margin-bottom:10px; font-size:12px;">{% trans "Select a file to creating an avatar" %}</div>
                                                <span><input id="avatar_file" name="avatar" type="file" accept="image/jpeg" data-url="/json/media/avatarupload/"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!-- Окно выбора файла (конец) -->
<!-- Добавление аватарки (конец) -->
