<option value="CAT1">Абиссинская</option>
<option value="CAT2">Австралийская дымчатая</option>
<option value="CAT3">Австралийская тиффани</option>
<option value="CAT4">Азиатская короткошерстная</option>
<option value="CAT5">Азиатская дымчатая</option>
<option value="CAT6">Азиатская табби</option>
<option value="CAT7">Азиатская длинношерстная (Тиффани)</option>
<option value="CAT8">Айова Рекс</option>
<option value="CAT9">Американская жесткошерстная</option>
<option value="CAT10">Американская кольцехвостая</option>
<option value="CAT11">Американская короткошерстная</option>
<option value="CAT12">Американский бобтейл</option>
<option value="CAT13">Американский кёрл</option>
<option value="CAT14">Анатолийская</option>
<option value="CAT15">Аравийский мау</option>
<option value="CAT16">Балинезийская (балинез)</option>
<option value="CAT17">Бенгальская короткошерстная (Бенгал)</option>
<option value="CAT18">Богемский рекс</option>
<option value="CAT19">Бомбейская (Бомбей)</option>
<option value="CAT20">Бразильская короткошерстная</option>
<option value="CAT21">Бристоль</option>
<option value="CAT22">Британская длинношерстная</option>
<option value="CAT23">Британская короткошерстная</option>
<option value="CAT24">Бурмилла</option>
<option value="CAT25">Бурмезская короткошерстная (бурма)</option>
<option value="CAT26">Гавана браун</option>
<option value="CAT27">Герман рекс (Немецкий рекс)</option>
<option value="CAT28">Девон-рекс</option>
<option value="CAT29">Домашняя кошка</option>
<option value="CAT30">Донской сфинкс</option>
<option value="CAT31">Европейская КШ (Кельтская)</option>
<option value="CAT32">Египетская мау</option>
<option value="CAT33">Иностранная Белая</option>
<option value="CAT34">Йорк (Йоркская шоколадная)</option>
<option value="CAT35">Калифорнийская сияющая</option>
<option value="CAT36">Канаани (Ханаани)</option>
<option value="CAT37">Карельский бобтейл</option>
<option value="CAT38">Кимрик (длинношерстный манкс)</option>
<option value="CAT39">Китайская Ли Hua</option>
<option value="CAT40">Корниш-рекс</option>
<option value="CAT41">Курильский бобтейл</option>
<option value="CAT42">Корат</option>
<option value="CAT43">Лаперм</option>
<option value="CAT44">Мандалай (Мандалэй)</option>
<option value="CAT45">Мэнская безхвостая (Манкс)</option>
<option value="CAT46">Египетский мау</option>
<option value="CAT47">Меконгский бобтейл</option>
<option value="CAT48">Мейн-кун</option>
<option value="CAT49">Невская маскарадная</option>
<option value="CAT50">Нибелунг</option>
<option value="CAT51">Норвежская лесная</option>
<option value="CAT52">Ориентальная короткошерстная</option>
<option value="CAT53">Оцикет</option>
<option value="CAT54">Охос Азулес</option>
<option value="CAT55">Охос Азулес</option>
<option value="CAT56">Персидская</option>
<option value="CAT57">Петерболд (Петербургский сфинкс)</option>
<option value="CAT58">Пиксибоб</option>
<option value="CAT59">Пуделькэт</option>
<option value="CAT60">Рагамаффин</option>
<option value="CAT61">Русская голубая</option>
<option value="CAT62">Рэгдолл</option>
<option value="CAT63">Саванна</option>
<option value="CAT64">Священная бирма</option>
<option value="CAT65">Селкирк-рекс</option>
<option value="CAT66">Сиамская</option>
<option value="CAT67">Сибирская</option>
<option value="CAT68">Сингапура</option>
<option value="CAT69">Скоттиш страйт</option>
<option value="CAT70">Скоттиш фолд ДШ (Хайленд-фолд)</option>
<option value="CAT71">Скоттиш фолд КШ</option>
<option value="CAT72">Сноу-шу</option>
<option value="CAT73">Сомали (Абиссинская ДШ)</option>
<option value="CAT74">Соукок</option>
<option value="CAT75">Сфинкс (Канадский сфинкс)</option>
<option value="CAT76">Тайская</option>
<option value="CAT77">Тиффани</option>
<option value="CAT78">Той-боб (Тойбоб, Скиф-тай-той-Дон)</option>
<option value="CAT79">Тойгер</option>
<option value="CAT80">Тонкинская</option>
<option value="CAT81">Турецкая ангора</option>
<option value="CAT82">Турецкий ван</option>
<option value="CAT83">Уральский рекс</option>
<option value="CAT84">Уссурийская КШ (Уссури)</option>
<option value="CAT85">Чаузи (Шаузи, Хаузи)</option>
<option value="CAT86">Шартрез</option>
<option value="CAT87">Цейлонская</option>
<option value="CAT88">Экзотическая короткошерстная</option>
<option value="CAT89">Яванская (яванез)</option>
<option value="CAT90">Японский бобтейл</option>

