<option value="AKC186">Affenpinscher</option>
<option value="AKC228">Afghan Hound</option>
<option value="AKC4">Airedale Terrier</option>
<option value="AKC255">Akita</option>
<option value="AKC243">Alaskan Malamute</option>
<option value="AKC1000">American English Coonhound</option>
<option value="AKC97">American Eskimo Dog</option>
<option value="AKC303">American Foxhound</option>
<option value="AKC286">American Staffordshire Terrier</option>
<option value="AKC301">American Water Spaniel</option>
<option value="AKC331">Anatolian Shepherd Dog</option>
<option value="AKC287">Australian Cattle Dog</option>
<option value="AKC342">Australian Shepherd</option>
<option value="AKC8">Australian Terrier</option>
<option value="AKC43">Basenji</option>
<option value="AKC163">Basset Hound</option>
<option value="AKC161">Beagle</option>
<option value="AKC271">Bearded Collie</option>
<option value="AKC44">Beauceron</option>
<option value="AKC9">Bedlington Terrier</option>
<option value="AKC15_c">Belgian Malinois</option>
<option value="AKC15">Belgian Sheepdog</option>
<option value="AKC15_d">Belgian Tervuren</option>
<option value="AKC45-46">Bernese Mountain Dog</option>
<option value="AKC215">Bichon Frise</option>
<option value="AKC300">Black and Tan Coonhound</option>
<option value="AKC327">Black Russian Terrier</option>
<option value="AKC84">Bloodhound</option>
<option value="AKC1001">Bluetick Coonhound</option>
<option value="AKC297">Border Collie</option>
<option value="AKC10">Border Terrier</option>
<option value="AKC193">Borzoi</option>
<option value="AKC140">Boston Terrier</option>
<option value="AKC191">Bouvier des Flandres</option>
<option value="AKC144">Boxer</option>
<option value="AKC1002">Boykin Spaniel</option>
<option value="AKC113">Briard</option>
<option value="AKC95">Brittany</option>
<option value="AKC80-81-82">Brussels Griffon</option>
<option value="AKC149">Bulldog</option>
<option value="AKC157">Bullmastiff</option>
<option value="AKC11">Bull Terrier</option>
<option value="AKC4">Cairn Terrier</option>
<option value="AKC273">Canaan Dog</option>
<option value="AKC343">Cane Corso</option>
<option value="AKC38">Cardigan Welsh Corgi</option>
<option value="AKC136">Cavalier King Charles Spaniel</option>
<option value="AKC246">Cesky Terrier</option>
<option value="AKC263">Chesapeake Bay Retriever</option>
<option value="AKC218">Chihuahua</option>
<option value="AKC288">Chinese Crested</option>
<option value="AKC309">Chinese Shar-Pei</option>
<option value="AKC1003">Chinook</option>
<option value="AKC205">Chow Chow</option>
<option value="AKC109">Clumber Spaniel</option>
<option value="AKC167">Cocker Spaniel</option>
<option value="AKC156-296">Collie</option>
<option value="AKC110">Curly-Coated Retriever</option>
<option value="AKC148">Dachshund</option>
<option value="AKC153">Dalmatian</option>
<option value="AKC168">Dandie Dinmont Terrier</option>
<option value="AKC143">Doberman Pinscher</option>
<option value="AKC116">Dogue de Bordeaux</option>
<option value="AKC5">English Cocker Spaniel</option>
<option value="AKC159">English Foxhound</option>
<option value="AKC2">English Setter</option>
<option value="AKC125">English Springer Spaniel</option>
<option value="AKC128">English Toy Spaniel</option>
<option value="AKC47">Entlebucher Mountain Dog</option>
<option value="AKC123">Field Spaniel</option>
<option value="AKC189">Finnish Lapphund</option>
<option value="AKC49">Finnish Spitz</option>
<option value="AKC121">Flat-Coated Retriever</option>
<option value="AKC101">French Bulldog</option>
<option value="AKC184">German Pinscher</option>
<option value="AKC166">German Shepherd Dog</option>
<option value="AKC119">German Shorthaired Pointer</option>
<option value="AKC98">German Wirehaired Pointer</option>
<option value="AKC181">Giant Schnauzer</option>
<option value="AKC302">Glen of Imaal Terrier</option>
<option value="AKC111">Golden Retriever</option>
<option value="AKC6">Gordon Setter</option>
<option value="AKC235">Great Dane</option>
<option value="AKC58">Greater Swiss Mountain Dog</option>
<option value="AKC137">Great Pyrenees</option>
<option value="AKC158">Greyhound</option>
<option value="AKC295">Harrier</option>
<option value="AKC250">Havanese</option>
<option value="AKC89">Ibizan Hound</option>
<option value="AKC289">Icelandic Sheepdog</option>
<option value="AKC330">Irish Red and White Setter</option>
<option value="AKC120">Irish Setter</option>
<option value="AKC139">Irish Terrier</option>
<option value="AKC124">Irish Water Spaniel</option>
<option value="AKC160">Irish Wolfhound</option>
<option value="AKC200">Italian Greyhound</option>
<option value="AKC206">Japanese Chin</option>
<option value="AKC97">Keeshond</option>
<option value="AKC3">Kerry Blue Terrier</option>
<option value="AKC53">Komondor</option>
<option value="AKC54">Kuvasz</option>
<option value="AKC122">Labrador Retriever</option>
<option value="AKC70">Lakeland Terrier</option>
<option value="AKC145">Leonberger</option>
<option value="AKC227">Lhasa Apso</option>
<option value="AKC233">Lowchen</option>
<option value="AKC65">Maltese</option>
<option value="AKC71">Manchester Terrier</option>
<option value="AKC264">Mastiff</option>
<option value="AKC359">Miniature Bull Terrier</option>
<option value="AKC185">Miniature Pinscher</option>
<option value="AKC183">Miniature Schnauzer</option>
<option value="AKC197">Neapolitan Mastiff</option>
<option value="AKC50">Newfoundland</option>
<option value="AKC272">Norfolk Terrier</option>
<option value="AKC237">Norwegian Buhund</option>
<option value="AKC242">Norwegian Elkhound</option>
<option value="AKC265">Norwegian Lundehund</option>
<option value="AKC72">Norwich Terrier</option>
<option value="AKC312">Nova Scotia Duck Tolling Retriever</option>
<option value="AKC16">Old English Sheepdog</option>
<option value="AKC294">Otterhound</option>
<option value="AKC77">Papillon</option>
<option value="AKC339">Parson Russell Terrier</option>
<option value="AKC207">Pekingese</option>
<option value="AKC1004">Pembroke Welsh Corgi</option>
<option value="AKC67">Petit Basset Griffon Vendeen</option>
<option value="AKC248">Pharaoh Hound</option>
<option value="AKC1005">Plott</option>
<option value="AKC1">Pointer</option>
<option value="AKC251">Polish Lowland Sheepdog</option>
<option value="AKC97">Pomeranian</option>
<option value="AKC172">Poodle</option>
<option value="AKC94">Portuguese Podengo Pequeno</option>
<option value="AKC37">Portuguese Water Dog</option>
<option value="AKC253">Pug</option>
<option value="AKC55">Puli</option>
<option value="AKC141">Pyrenean Shepherd</option>
<option value="AKC1006">Redbone Coonhound</option>
<option value="AKC146">Rhodesian Ridgeback</option>
<option value="AKC147">Rottweiler</option>
<option value="AKC345">Russell Terrier</option>
<option value="AKC269">Saluki</option>
<option value="AKC212">Samoyed</option>
<option value="AKC83">Schipperke</option>
<option value="AKC164">Scottish Deerhound</option>
<option value="AKC73">Scottish Terrier</option>
<option value="AKC74">Sealyham Terrier</option>
<option value="AKC88">Shetland Sheepdog</option>
<option value="AKC257">Shiba Inu</option>
<option value="AKC208">Shih Tzu</option>
<option value="AKC270">Siberian Husky</option>
<option value="AKC236">Silky Terrier</option>
<option value="AKC72">Skye Terrier</option>
<option value="AKC12">Smooth Fox Terrier</option>
<option value="AKC40">Soft Coated Wheaten Terrier</option>
<option value="AKC165">Spinone Italiano</option>
<option value="AKC76">Staffordshire Bull Terrier</option>
<option value="AKC182">Standard Schnauzer</option>
<option value="AKC61">St. Bernard</option>
<option value="AKC127">Sussex Spaniel</option>
<option value="AKC14">Swedish Vallhund</option>
<option value="AKC230">Tibetan Mastiff</option>
<option value="AKC231">Tibetan Spaniel</option>
<option value="AKC209">Tibetan Terrier</option>
<option value="AKC1007">Toy Fox Terrier</option>
<option value="AKC1008">Treeing Walker Coonhound</option>
<option value="AKC57">Vizsla</option>
<option value="AKC99">Weimaraner</option>
<option value="AKC126">Welsh Springer Spaniel</option>
<option value="AKC78">Welsh Terrier</option>
<option value="AKC85">West Highland White Terrier</option>
<option value="AKC162">Whippet</option>
<option value="AKC169">Wire Fox Terrier</option>
<option value="AKC107">Wirehaired Pointing Griffon</option>
<option value="AKC234">Xoloitzcuintli</option>
<option value="AKC86">Yorkshire Terrier</option>
