<option value="AKC236">Австралийский шелковистый терьер</option>
<option value="AKC163">Бассет хаунд</option>
<option value="AKC161">Бигль</option>
<option value="AKC271">Бородатый колли</option>
<option value="AKC9">Бедлингтон-терьер</option>
<option value="AKC44">Босерон (Французская гладкошерстная овчарка)</option>
<option value="AKC113">Бриар</option>
<option value="AKC215">Бишон фризе</option>
<option value="AKC250">Бишон гаванский</option>
<option value="AKC300">Черно-подпалая енотовая гончая</option>
<option value="AKC297">Бордер колли</option>
<option value="AKC10">Бордер терьер</option>
<option value="AKC140">Бостон терьер</option>
<option value="AKC95">Бретонский эпаньоль</option>
<option value="AKC101">Французский бульдог</option>
<option value="AKC144">Боксер</option>
<option value="AKC191">Бувье фландрский</option>
<option value="AKC11">Бультерьер</option>
<option value="AKC149">Бульдог</option>
<option value="AKC157">Бульмастиф</option>
<option value="AKC4">Кэрн терьер</option>
<option value="AKC4">Кэрн терьер</option>
<option value="AKC273">Ханаанская собака</option>
<option value="AKC343">Кане Корсо Итальяно</option>
<option value="AKC172">Пудель</option>
<option value="AKC37">Португальская водяная собака</option>
<option value="AKC136">Кавалер кинг чарльз спаниель</option>
<option value="AKC246">Чешский терьер</option>
<option value="AKC263">Чесапикский бей ретривер</option>
<option value="AKC15">Бельгийская овчарка</option>
<option value="AKC269">Салуки</option>
<option value="AKC141">Пиренейская длинношерстная овчарка</option>
<option value="AKC137">Пиренейская горная собака</option>
<option value="AKC84">Бладхаунд (Шьен де Сен-юбер)</option>
<option value="AKC218">Чихуахуа</option>
<option value="AKC206">Японский хин</option>
<option value="AKC288">Китайская хохлатая собака</option>
<option value="AKC205">Чау-чау</option>
<option value="AKC109">Кламбер-спаниель</option>
<option value="AKC110">Курчавошёрстный ретривер</option>
<option value="AKC153">Далматин</option>
<option value="AKC168">Денди-динмонт-терьер</option>
<option value="AKC164">Дирхаунд</option>
<option value="AKC98">Дратхаар (Немецкая жесткошёрстная легавая)</option>
<option value="AKC119">Курцхаар (Немецкая короткошёрстная легавая)</option>
<option value="AKC235">Немецкий дог</option>
<option value="AKC184">Гладкошерстый пинчер (Немецкий пинчер)</option>
<option value="AKC166">Немецкая овчарка</option>
<option value="AKC97">Немецкий шпиц</option>
<option value="AKC97">Немецкий шпиц</option>
<option value="AKC97">Немецкий шпиц</option>
<option value="AKC143">Доберман</option>
<option value="AKC116">Дог бордоский</option>
<option value="AKC230">Тибетский мастиф</option>
<option value="AKC5">Английский кокер-спаниель</option>
<option value="AKC159">Английский фоксхаунд</option>
<option value="AKC1">Английский пойнтер</option>
<option value="AKC2">Английский сеттер</option>
<option value="AKC125">Английский спрингер-спаниель</option>
<option value="AKC47">Энтлебухер зенненхунд</option>
<option value="AKC77">Континентальный той-спаниель</option>
<option value="AKC123">Фильд спаниель</option>
<option value="AKC121">Прямошёрстный ретривер</option>
<option value="AKC12">Фокстерьер (Гладкошёрстный)</option>
<option value="AKC169">Фокстерьер (Жесткошёрстный)</option>
<option value="AKC111">Золотистый ретривер</option>
<option value="AKC6">Шотландский сеттер</option>
<option value="AKC158">Грейхаунд (Серая борзая)</option>
<option value="AKC107">Гриффон Кортальса</option>
<option value="AKC58">Большой швейцарский зенненхунд</option>
<option value="AKC295">Харриер</option>
<option value="AKC289">Исландская собака</option>
<option value="AKC302">Ирландский Глен оф Имаал терьер</option>
<option value="AKC330">Ирландский красно-белый сеттер</option>
<option value="AKC120">Ирландский красный сеттер</option>
<option value="AKC40">Ирландский мягкошерстный пшеничный терьер</option>
<option value="AKC139">Ирландский терьер</option>
<option value="AKC124">Ирландский водяной спаниель</option>
<option value="AKC160">Ирландский волкодав</option>
<option value="AKC345">Джек рассел терьер</option>
<option value="AKC3">Ирландский голубой терьер</option>
<option value="AKC128">Кавалер кинг чарльз спаниель</option>
<option value="AKC53">Комондор</option>
<option value="AKC54">Кувас</option>
<option value="AKC122">Лабрадор ретривер</option>
<option value="AKC70">Лейкленд терьер</option>
<option value="AKC145">Леонбергер</option>
<option value="AKC227">Лхаса Апсо</option>
<option value="AKC65">Мальтийская болонка (Мальтезе)</option>
<option value="AKC71">Манчестерский терьер</option>
<option value="AKC264">Мастиф</option>
<option value="AKC197">Мастиф неаполитанский</option>
<option value="AKC359">Миниатюрный бультерьер</option>
<option value="AKC50">Ньюфаундленд</option>
<option value="AKC272">Норфолк терьер</option>
<option value="AKC237">Норвежский бухунд</option>
<option value="AKC242">Норвежский серый эльгхунд</option>
<option value="AKC265">Норвежский лундехунд</option>
<option value="AKC72">Норвич терьер</option>
<option value="AKC72">Норвич терьер</option>
<option value="AKC312">Новошотландский ретривер </option>
<option value="AKC16">Староанглийская овчарка (Бобтейл)</option>
<option value="AKC294">Оттерхаунд</option>
<option value="AKC339">Парсон расселл терьер</option>
<option value="AKC207">Пекинес</option>
<option value="AKC67">Малый вандейский бассет-гриффон</option>
<option value="AKC233">Львиная собачка</option>
<option value="AKC248">Фараонова собака</option>
<option value="AKC200">Итальянская левретка</option>
<option value="AKC89">Ивисская борзая</option>
<option value="AKC94">Португальский поденгу</option>
<option value="AKC251">Польская низинная овчарка</option>
<option value="AKC253">Мопс</option>
<option value="AKC55">Пули</option>
<option value="AKC146">Родезийский риджбек</option>
<option value="AKC181">Ризеншнауцер</option>
<option value="AKC147">Ротвейлер</option>
<option value="AKC57">Венгерская короткошерстная легавая</option>
<option value="AKC148">Такса</option>
<option value="AKC186">Аффенпинчер</option>
<option value="AKC228">Афганская борзая</option>
<option value="AKC255">Акита</option>
<option value="AKC243">Аляскинский маламут</option>
<option value="AKC167">Американский кокер-спаниель</option>
<option value="AKC303">Американский фоксхаунд</option>
<option value="AKC286">Американский стаффордширский терьер</option>
<option value="AKC301">Американский водяной спаниель</option>
<option value="AKC331">Анатолийская овчарка</option>
<option value="AKC287">Австралийская пастушья собака</option>
<option value="AKC342">Австралийская овчарка</option>
<option value="AKC8">Австралийский терьер</option>
<option value="AKC43">Басенджи</option>
<option value="AKC1000">TRANSLATE::American English Coonhound</option>
<option value="AKC15_c">TRANSLATE::Belgian Malinois</option>
<option value="AKC15_d">TRANSLATE::Belgian Tervuren</option>
<option value="AKC45-46">TRANSLATE::Bernese Mountain Dog</option>
<option value="AKC1001">TRANSLATE::Bluetick Coonhound</option>
<option value="AKC1002">TRANSLATE::Boykin Spaniel</option>
<option value="AKC80-81-82">TRANSLATE::Brussels Griffon</option>
<option value="AKC1003">TRANSLATE::Chinook</option>
<option value="AKC156-296">TRANSLATE::Collie</option>
<option value="AKC1004">TRANSLATE::Pembroke Welsh Corgi</option>
<option value="AKC1005">TRANSLATE::Plott</option>
<option value="AKC1006">TRANSLATE::Redbone Coonhound</option>
<option value="AKC1007">TRANSLATE::Toy Fox Terrier</option>
<option value="AKC1008">TRANSLATE::Treeing Walker Coonhound</option>
<option value="AKC193">Русская псовая борзая</option>
<option value="AKC327">Русский черный терьер</option>
<option value="AKC212">Самоед (Самоедская собака)</option>
<option value="AKC83">Шкиперке</option>
<option value="AKC182">Шнауцер</option>
<option value="AKC73">Скотч-терьер (Шотландский терьер)</option>
<option value="AKC74">Силихем терьер</option>
<option value="AKC309">Шарпей</option>
<option value="AKC88">Шелти</option>
<option value="AKC257">Шиба (Шиба Ину)</option>
<option value="AKC208">Ши тцу</option>
<option value="AKC270">Сибирский хаски</option>
<option value="AKC165">Итальянский Спиноне</option>
<option value="AKC61">Сенбернар</option>
<option value="AKC76">Стаффордширский бультерьер</option>
<option value="AKC189">Суоменлапинкойра (Финская лапландская собака)</option>
<option value="AKC49">Суоменпистикорва (Финский шпиц)</option>
<option value="AKC127">Суссекский спаниель</option>
<option value="AKC231">Тибетский спаниель</option>
<option value="AKC209">Тибетский терьер</option>
<option value="AKC14">Вастогаспет</option>
<option value="AKC99">Веймаранер</option>
<option value="AKC38">Вельш корги кардиган</option>
<option value="AKC126">Вельш спрингер спаниель</option>
<option value="AKC78">Вельш терьер</option>
<option value="AKC85">Западношотландский белый терьер</option>
<option value="AKC162">Уиппет</option>
<option value="AKC234">Мексиканская голая собака</option>
<option value="AKC86">Йоркширский терьер</option>
<option value="AKC185">Цвергпинчер (Карликовый пинчер)</option>
<option value="AKC183">Цвергшнауцер (Карликовый шнауцер)</option>
