<option value="FCI351">Австралийская короткохвостая пастушья собака</option>
<option value="FCI342">Австралийская овчарка</option>
<option value="FCI287">Австралийская пастушья собака</option>
<option value="FCI293">Австралийский келпи</option>
<option value="FCI8">Австралийский терьер</option>
<option value="FCI236">Австралийский шелковистый терьер</option>
<option value="FCI63">Австрийская гончая (Брандл-бракк)</option>
<option value="FCI62">Австрийский брудастый бракк (Штирская жесткошерстная гончая)</option>
<option value="FCI64">Австрийский пинчер</option>
<option value="FCI307">Азавак</option>
<option value="FCI247">Айди (Атласская пастушья собака)</option>
<option value="FCI255">Акита</option>
<option value="FCI254">Альпийская таксообразная гончая</option>
<option value="FCI243">Аляскинский маламут</option>
<option value="FCI344">Американская акита</option>
<option value="FCI301">Американский водяной спаниель</option>
<option value="FCI167">Американский кокер-спаниель</option>
<option value="FCI286">Американский стаффордширский терьер</option>
<option value="FCI303">Американский фоксхаунд</option>
<option value="FCI331">Анатолийская овчарка</option>
<option value="FCI5">Английский кокер-спаниель</option>
<option value="FCI1">Английский пойнтер</option>
<option value="FCI2">Английский сеттер</option>
<option value="FCI125">Английский спрингер-спаниель</option>
<option value="FCI13">Английский той терьер</option>
<option value="FCI159">Английский фоксхаунд</option>
<option value="FCI325">Англо-французская гончая</option>
<option value="FCI46">Аппенцеллер зенненхунд</option>
<option value="FCI28">Артуазская гончая</option>
<option value="FCI177">Арьежская легавая</option>
<option value="FCI20">Арьежуа</option>
<option value="FCI228">Афганская борзая</option>
<option value="FCI186">Аффенпинчер</option>
<option value="FCI217">Баварская горная гончая</option>
<option value="FCI105">Барбет</option>
<option value="FCI43">Басенджи</option>
<option value="FCI34">Бассет артезиано-нормандский</option>
<option value="FCI35">Бассет голубой гасконский</option>
<option value="FCI36">Бассет рыжий бретонский</option>
<option value="FCI163">Бассет хаунд</option>
<option value="FCI9">Бедлингтон-терьер</option>
<option value="FCI347">Белая швейцарская овчарка</option>
<option value="FCI15">Бельгийская овчарка</option>
<option value="FCI81">Бельгийский гриффон</option>
<option value="FCI194">Бергамская овчарка</option>
<option value="FCI45">Бернский зенненхунд</option>
<option value="FCI161">Бигль</option>
<option value="FCI290">Бигль-харрьер</option>
<option value="FCI25">Бийи</option>
<option value="FCI250">Бишон гаванский</option>
<option value="FCI215">Бишон фризе</option>
<option value="FCI84">Бладхаунд (Шьен де Сен-юбер)</option>
<option value="FCI144">Боксер</option>
<option value="FCI196">Болоньез</option>
<option value="FCI324">Большая англо-французская красно-пегая гончая</option>
<option value="FCI322">Большая англо-французская трехцветная гончая</option>
<option value="FCI323">Большая англо-французская черно-пегая гончая</option>
<option value="FCI22">Большая голубая гасконская гончая</option>
<option value="FCI33">Большой вандейский бассет-гриффон</option>
<option value="FCI58">Большой швейцарский зенненхунд</option>
<option value="FCI297">Бордер колли</option>
<option value="FCI10">Бордер терьер</option>
<option value="FCI271">Бородатый колли</option>
<option value="FCI44">Босерон (Французская гладкошерстная овчарка)</option>
<option value="FCI155">Боснийская грубошерстная гончая</option>
<option value="FCI140">Бостон терьер</option>
<option value="FCI341">Бразильский терьер</option>
<option value="FCI179">Брак бурбонский</option>
<option value="FCI180">Брак овернский</option>
<option value="FCI115">Брак сен-жерменский</option>
<option value="FCI133">Брак французский - тип гасконский (большой хвост)</option>
<option value="FCI134">Брак французский - тип пиренейский (малый хвост)</option>
<option value="FCI95">Бретонский эпаньоль</option>
<option value="FCI113">Бриар</option>
<option value="FCI19">Брикет-гриффон вандейский</option>
<option value="FCI315">Брогольмер</option>
<option value="FCI80">Брюссельский гриффон</option>
<option value="FCI171">Бувье арденский</option>
<option value="FCI191">Бувье фландрский</option>
<option value="FCI149">Бульдог</option>
<option value="FCI157">Бульмастиф</option>
<option value="FCI11">Бультерьер</option>
<option value="FCI90">Бургосская легавая</option>
<option value="FCI282">Вандейский гриффон</option>
<option value="FCI14">Вастогаспет</option>
<option value="FCI99">Веймаранер</option>
<option value="FCI38">Вельш корги кардиган</option>
<option value="FCI39">Вельш корги пемброк</option>
<option value="FCI126">Вельш спрингер спаниель</option>
<option value="FCI78">Вельш терьер</option>
<option value="FCI239">Венгерская жесткошерстная легавая</option>
<option value="FCI57">Венгерская короткошерстная легавая</option>
<option value="FCI100">Вестфальский таксообразный бракк</option>
<option value="FCI221">Веттерхун (Фризская водяная собака)</option>
<option value="FCI331">Волчья собака Сарлоса</option>
<option value="FCI305">Восточно-Сибирская Лайка</option>
<option value="FCI213">Ганноверская гончая</option>
<option value="FCI21">Гасконский сентонжуа</option>
<option value="FCI184">Гладкошерстый пинчер (Немецкий пинчер)</option>
<option value="FCI223">Голландская овчарка</option>
<option value="FCI308">Голландский смаусхонд</option>
<option value="FCI314">Голландский спаниель</option>
<option value="FCI32">Голубой гасконский гриффон</option>
<option value="FCI106">Голубой пикардийский спаниель</option>
<option value="FCI131">Гончая Шиллера</option>
<option value="FCI158">Грейхаунд (Серая борзая)</option>
<option value="FCI274">Гренландская собака</option>
<option value="FCI107">Гриффон Кортальса</option>
<option value="FCI153">Далматин</option>
<option value="FCI356">Датско-Шведская фермерская собака</option>
<option value="FCI168">Денди-динмонт-терьер</option>
<option value="FCI345">Джек рассел терьер</option>
<option value="FCI164">Дирхаунд</option>
<option value="FCI143">Доберман</option>
<option value="FCI292">Дог аргентинский</option>
<option value="FCI116">Дог бордоский</option>
<option value="FCI346">Дог канарский</option>
<option value="FCI130">Драйвер</option>
<option value="FCI98">Дратхаар (Немецкая жесткошёрстная легавая)</option>
<option value="FCI224">Дрентская куропаточная собака</option>
<option value="FCI203">Дункер</option>
<option value="FCI291">Евразиер</option>
<option value="FCI42">Емтхунд (Шведская лайка)</option>
<option value="FCI306">Западно сибирская лайка</option>
<option value="FCI85">Западношотландский белый терьер</option>
<option value="FCI111">Золотистый ретривер</option>
<option value="FCI89">Ивисская борзая</option>
<option value="FCI124">Ирландский водяной спаниель</option>
<option value="FCI160">Ирландский волкодав</option>
<option value="FCI302">Ирландский Глен оф Имаал терьер</option>
<option value="FCI3">Ирландский голубой терьер</option>
<option value="FCI330">Ирландский красно-белый сеттер</option>
<option value="FCI120">Ирландский красный сеттер</option>
<option value="FCI40">Ирландский мягкошерстный пшеничный терьер</option>
<option value="FCI139">Ирландский терьер</option>
<option value="FCI289">Исландская собака</option>
<option value="FCI336">Испанская водная собака </option>
<option value="FCI204">Испанская гончая</option>
<option value="FCI285">Испанский гальго</option>
<option value="FCI152">Истрийская жесткошерстная гончая</option>
<option value="FCI151">Истрийская короткошерстная гончая</option>
<option value="FCI337">Итальянская грубошерстная гончая</option>
<option value="FCI198">Итальянская короткошерстная гончая</option>
<option value="FCI202">Итальянская короткошерстная легавая</option>
<option value="FCI200">Итальянская левретка</option>
<option value="FCI195">Итальянский вольпин</option>
<option value="FCI165">Итальянский Спиноне</option>
<option value="FCI86">Йоркширский терьер</option>
<option value="FCI128">Кавалер кинг чарльз спаниель</option>
<option value="FCI136">Кавалер кинг чарльз спаниель</option>
<option value="FCI328">Кавказская овчарка</option>
<option value="FCI321">Ка де Бестиар (Майоркская овчарка)</option>
<option value="FCI249">Ка де Бо (Майорский Мастиф)</option>
<option value="FCI317">Каи</option>
<option value="FCI329">Канарский поденко</option>
<option value="FCI343">Кане Корсо Итальяно</option>
<option value="FCI48">Карельская медвежья собака</option>
<option value="FCI60">Карликовая швейцарская гончая</option>
<option value="FCI278">Карстская овчарка</option>
<option value="FCI87">Каталонская овчарка</option>
<option value="FCI170">Каштро-лаборейрская собака</option>
<option value="FCI288">Китайская хохлатая собака</option>
<option value="FCI318">Кишу (Кисю)</option>
<option value="FCI109">Кламбер-спаниель</option>
<option value="FCI156">Колли длинношёрстный</option>
<option value="FCI296">Колли короткошёрстный</option>
<option value="FCI53">Комондор</option>
<option value="FCI77">Континентальный той-спаниель</option>
<option value="FCI334">Корейский джиндо</option>
<option value="FCI283">Котон де Тюлеар</option>
<option value="FCI192">Кромфорлендер</option>
<option value="FCI54">Кувас</option>
<option value="FCI119">Курцхаар (Немецкая короткошёрстная легавая)</option>
<option value="FCI110">Курчавошёрстный ретривер</option>
<option value="FCI4">Кэрн терьер</option>
<option value="FCI122">Лабрадор ретривер</option>
<option value="FCI298">Лаготто романьоло</option>
<option value="FCI117">Лангхаар (Немецкая длинношерстная легавая)</option>
<option value="FCI226">Ландсир</option>
<option value="FCI284">Лапинпорокойра (Лапландская оленегонная собака)</option>
<option value="FCI70">Лейкленд терьер</option>
<option value="FCI145">Леонбергер</option>
<option value="FCI227">Лхаса Апсо</option>
<option value="FCI233">Львиная собачка</option>
<option value="FCI240">Мадьяр агар (Венгерская борзая)</option>
<option value="FCI31">Малая голубая гасконская гончая</option>
<option value="FCI82">Малый брабансон</option>
<option value="FCI67">Малый вандейский бассет-гриффон</option>
<option value="FCI102">Малый мюнстерлендер</option>
<option value="FCI65">Мальтийская болонка (Мальтезе)</option>
<option value="FCI71">Манчестерский терьер</option>
<option value="FCI201">Мареммо-абруццкая овчарка</option>
<option value="FCI264">Мастиф</option>
<option value="FCI91">Мастиф испанский</option>
<option value="FCI197">Мастиф неаполитанский</option>
<option value="FCI92">Мастиф пиренейский</option>
<option value="FCI234">Мексиканская голая собака</option>
<option value="FCI359">Миниатюрный бультерьер</option>
<option value="FCI253">Мопс</option>
<option value="FCI238">Муди</option>
<option value="FCI118">Мюнстерлендер большой</option>
<option value="FCI299">Немецкая гончая</option>
<option value="FCI166">Немецкая овчарка</option>
<option value="FCI104">Немецкий вахтельхунд (Немецкая перепелиная собака)</option>
<option value="FCI235">Немецкий дог</option>
<option value="FCI97">Немецкий шпиц</option>
<option value="FCI103">Немецкий ягдтерьер</option>
<option value="FCI17">Нивернесский гриффон</option>
<option value="FCI312">Новошотландский ретривер </option>
<option value="FCI276">Норботтенская лайка</option>
<option value="FCI237">Норвежский бухунд</option>
<option value="FCI265">Норвежский лундехунд</option>
<option value="FCI242">Норвежский серый эльгхунд</option>
<option value="FCI268">Норвежский черный эльгхунд</option>
<option value="FCI72">Норвич терьер</option>
<option value="FCI272">Норфолк терьер</option>
<option value="FCI50">Ньюфаундленд</option>
<option value="FCI294">Оттерхаунд</option>
<option value="FCI339">Парсон расселл терьер</option>
<option value="FCI207">Пекинес</option>
<option value="FCI310">Перуанская голая собака</option>
<option value="FCI176">Пикардийская овчарка (Пикарди)</option>
<option value="FCI108">Пикардийский спаниэль</option>
<option value="FCI137">Пиренейская горная собака</option>
<option value="FCI141">Пиренейская длинношерстная овчарка</option>
<option value="FCI138">Пиренейская короткошерстная овчарка</option>
<option value="FCI279">Планинская гончая</option>
<option value="FCI252">Подгалянская овчарка</option>
<option value="FCI24">Пойтевин</option>
<option value="FCI333">Польская борзая</option>
<option value="FCI52">Польская гончая</option>
<option value="FCI354">Польская гончая</option>
<option value="FCI251">Польская низинная овчарка</option>
<option value="FCI114">Понт-одемерский спаниель</option>
<option value="FCI30">Порселен</option>
<option value="FCI37">Португальская водяная собака</option>
<option value="FCI93">Португальская овчарка</option>
<option value="FCI94">Португальский поденгу</option>
<option value="FCI187">Португальский Пойнтер</option>
<option value="FCI96">Португальский рафейру</option>
<option value="FCI154">Посавская гончая</option>
<option value="FCI121">Прямошёрстный ретривер</option>
<option value="FCI172">Пудель</option>
<option value="FCI216">Пудель-пойнтер</option>
<option value="FCI55">Пули</option>
<option value="FCI56">Пуми</option>
<option value="FCI181">Ризеншнауцер</option>
<option value="FCI146">Родезийский риджбек</option>
<option value="FCI147">Ротвейлер</option>
<option value="FCI357">Румынская буковинская овчарка</option>
<option value="FCI350">Румынская карпатская овчарка</option>
<option value="FCI349">Румынская овчарка миоритик</option>
<option value="FCI193">Русская псовая борзая</option>
<option value="FCI352">Русский той терьер</option>
<option value="FCI327">Русский черный терьер</option>
<option value="FCI304">Русско-европейская лайка</option>
<option value="FCI66">Рыжый британский гриффон</option>
<option value="FCI269">Салуки</option>
<option value="FCI212">Самоед (Самоедская собака)</option>
<option value="FCI340">Сан-мигельская овчарка</option>
<option value="FCI61">Сенбернар</option>
<option value="FCI150">Сербская гончая (Балканская гончая, Югославская гончая)</option>
<option value="FCI229">Сербская трехцветная гончая</option>
<option value="FCI270">Сибирский хаски</option>
<option value="FCI74">Силихем терьер</option>
<option value="FCI75">Скай терьер</option>
<option value="FCI73">Скотч-терьер (Шотландский терьер)</option>
<option value="FCI320">Словацкий грубошерстный пойнтер</option>
<option value="FCI244">Словацкий копов</option>
<option value="FCI142">Словацкий чувач</option>
<option value="FCI188">Слюги (Арабская борзая)</option>
<option value="FCI129">Смаландская гончая</option>
<option value="FCI335">Среднеазиатская овчарка</option>
<option value="FCI222">Стабихун</option>
<option value="FCI16">Староанглийская овчарка (Бобтейл)</option>
<option value="FCI281">Стародатская легавая</option>
<option value="FCI76">Стаффордширский бультерьер</option>
<option value="FCI189">Суоменлапинкойра (Финская лапландская собака)</option>
<option value="FCI49">Суоменпистикорва (Финский шпиц)</option>
<option value="FCI127">Суссекский спаниель</option>
<option value="FCI313">Схапендус</option>
<option value="FCI348">Тайваньская Собака</option>
<option value="FCI358">Тайский банкэв</option>
<option value="FCI338">Тайский риджбек</option>
<option value="FCI148">Такса</option>
<option value="FCI230">Тибетский мастиф</option>
<option value="FCI231">Тибетский спаниель</option>
<option value="FCI209">Тибетский терьер</option>
<option value="FCI68">Тирольский бракк</option>
<option value="FCI355">Торньяк</option>
<option value="FCI260">Тоса (Тоса ину)</option>
<option value="FCI241">Трансильванская гончая (Эрдели копо)</option>
<option value="FCI51">Трехцветная финская гончая</option>
<option value="FCI162">Уиппет</option>
<option value="FCI353">Уругвайский симарон</option>
<option value="FCI248">Фараонова собака</option>
<option value="FCI225">Фила Бразилейро</option>
<option value="FCI123">Фильд спаниель</option>
<option value="FCI12">Фокстерьер (Гладкошёрстный)</option>
<option value="FCI169">Фокстерьер (Жесткошёрстный)</option>
<option value="FCI316">Французская красно-пегая гончая</option>
<option value="FCI219">Французская трехцветная гончая</option>
<option value="FCI220">Французская черно-пегая гончая</option>
<option value="FCI101">Французский бульдог</option>
<option value="FCI175">Французский спаниель</option>
<option value="FCI267">Хальденстевер</option>
<option value="FCI273">Ханаанская собака</option>
<option value="FCI295">Харриер</option>
<option value="FCI190">Ховаварт</option>
<option value="FCI261">Хоккайдо (Айну-кен)</option>
<option value="FCI277">Хорватская овчарка</option>
<option value="FCI266">Хюгенхунд</option>
<option value="FCI185">Цвергпинчер (Карликовый пинчер)</option>
<option value="FCI183">Цвергшнауцер (Карликовый шнауцер)</option>
<option value="FCI205">Чау-чау</option>
<option value="FCI300">Черно-подпалая енотовая гончая</option>
<option value="FCI263">Чесапикский бей ретривер</option>
<option value="FCI332">Чехословацкая волчья собака</option>
<option value="FCI246">Чешский терьер</option>
<option value="FCI245">Чешский фоусек</option>
<option value="FCI199">Чирнеко дель Этна</option>
<option value="FCI218">Чихуахуа</option>
<option value="FCI309">Шарпей</option>
<option value="FCI41">Шарпланинская овчарка</option>
<option value="FCI132">Шведская гончая</option>
<option value="FCI135">Шведская лопарская лайка</option>
<option value="FCI59">Швейцарский лауфхунд</option>
<option value="FCI88">Шелти</option>
<option value="FCI257">Шиба (Шиба Ину)</option>
<option value="FCI319">Шикоку</option>
<option value="FCI208">Ши тцу</option>
<option value="FCI83">Шкиперке</option>
<option value="FCI182">Шнауцер</option>
<option value="FCI6">Шотландский сеттер</option>
<option value="FCI232">Штихельхаар (Немецкая щетинистая легавая)</option>
<option value="FCI214">Эллинский икнилатис</option>
<option value="FCI47">Энтлебухер зенненхунд</option>
<option value="FCI7">Эрдельтерьер</option>
<option value="FCI173">Эштрельская овчарка</option>
<option value="FCI326">Южнорусская овчарка</option>
<option value="FCI259">Японский терьер</option>
<option value="FCI206">Японский хин</option>
<option value="FCI262">Японский Шпиц</option>
