<option value="FCI7">Airedale Terrier</option>
<option value="FCI283">Coton de tulear</option>
<option value="FCI148">Dachshund</option>
<option value="FCI238">Mudi</option>
<option value="FCI62">Styrian Coarse-haired hound</option>
<option value="FCI51">Finnish Hound</option>
<option value="FCI135">Swedish Lapphund</option>
<option value="FCI348">Taiwan dog</option>
<option value="FCI341">Brazilian terrier</option>
<option value="FCI358">Thai Bangkaew Dog</option>
<option value="FCI338">Thai Ridgeback Dog</option>
<option value="FCI68">Tyrolean Hound</option>
<option value="FCI355">Tornjak</option>
<option value="FCI260">Tosa</option>
<option value="FCI241">Transylvanian Hound</option>
<option value="FCI195">Volpino Italiano</option>
<option value="FCI305">East Siberian Laik</option>
<option value="FCI39">Pembroke Welsh Corgi</option>
<option value="FCI100">Westphalian Dachsbracke</option>
<option value="FCI221">Wetterhoun</option>
<option value="FCI306">West Siberian Laika</option>
<option value="FCI186">Affenpinscher</option>
<option value="FCI228">Afghan Hound</option>
<option value="FCI255">Akita</option>
<option value="FCI243">Alaskan Malamute</option>
<option value="FCI167">Cocker Spaniel</option>
<option value="FCI303">American Foxhound</option>
<option value="FCI286">American Staffordshire Terrier</option>
<option value="FCI301">American Water Spaniel</option>
<option value="FCI331">Anatolian Shepherd Dog</option>
<option value="FCI287">Australian Cattle Dog</option>
<option value="FCI342">Australian Shepherd</option>
<option value="FCI236">Silky Terrier</option>
<option value="FCI8">Australian Terrier</option>
<option value="FCI43">Basenji</option>
<option value="FCI163">Basset Hound</option>
<option value="FCI161">Beagle</option>
<option value="FCI271">Bearded Collie</option>
<option value="FCI9">Bedlington Terrier</option>
<option value="FCI44">Beauceron</option>
<option value="FCI113">Briard</option>
<option value="FCI215">Bichon Frise</option>
<option value="FCI250">Havanese</option>
<option value="FCI300">Black and Tan Coonhound</option>
<option value="FCI297">Border Collie</option>
<option value="FCI10">Border Terrier</option>
<option value="FCI140">Boston Terrier</option>
<option value="FCI95">Brittany</option>
<option value="FCI101">French Bulldog</option>
<option value="FCI144">Boxer</option>
<option value="FCI191">Bouvier des Flandres</option>
<option value="FCI11">Bull Terrier</option>
<option value="FCI149">Bulldog</option>
<option value="FCI157">Bullmastiff</option>
<option value="FCI4">Cairn Terrier</option>
<option value="FCI273">Canaan Dog</option>
<option value="FCI343">Cane Corso</option>
<option value="FCI172">Poodle</option>
<option value="FCI37">Portuguese Water Dog</option>
<option value="FCI136">Cavalier King Charles Spaniel</option>
<option value="FCI246">Cesky Terrier</option>
<option value="FCI263">Chesapeake Bay Retriever</option>
<option value="FCI15">Belgian Sheepdog</option>
<option value="FCI269">Saluki</option>
<option value="FCI141">Pyrenean Shepherd</option>
<option value="FCI137">Great Pyrenees</option>
<option value="FCI84">Bloodhound</option>
<option value="FCI218">Chihuahua</option>
<option value="FCI206">Japanese Chin</option>
<option value="FCI288">Chinese Crested</option>
<option value="FCI205">Chow Chow</option>
<option value="FCI109">Clumber Spaniel</option>
<option value="FCI110">Curly-Coated Retriever</option>
<option value="FCI153">Dalmatian</option>
<option value="FCI168">Dandie Dinmont Terrier</option>
<option value="FCI164">Scottish Deerhound</option>
<option value="FCI98">German Wirehaired Pointer</option>
<option value="FCI119">German Shorthaired Pointer</option>
<option value="FCI235">Great Dane</option>
<option value="FCI184">German Pinscher</option>
<option value="FCI166">German Shepherd Dog</option>
<option value="FCI97">Pomeranian</option>
<option value="FCI143">Doberman Pinscher</option>
<option value="FCI116">Dogue de Bordeaux</option>
<option value="FCI230">Tibetan Mastiff</option>
<option value="FCI5">English Cocker Spaniel</option>
<option value="FCI159">English Foxhound</option>
<option value="FCI1">Pointer</option>
<option value="FCI2">English Setter</option>
<option value="FCI125">English Springer Spaniel</option>
<option value="FCI47">Entlebucher Mountain Dog</option>
<option value="FCI77">Papillon</option>
<option value="FCI123">Field Spaniel</option>
<option value="FCI121">Flat-Coated Retriever</option>
<option value="FCI12">Smooth Fox Terrier</option>
<option value="FCI169">Wire Fox Terrier</option>
<option value="FCI111">Golden Retriever</option>
<option value="FCI6">Gordon Setter</option>
<option value="FCI158">Greyhound</option>
<option value="FCI107">Wirehaired Pointing Griffon</option>
<option value="FCI58">Greater Swiss Mountain Dog</option>
<option value="FCI295">Harrier</option>
<option value="FCI289">Icelandic Sheepdog</option>
<option value="FCI302">Glen of Imaal Terrier</option>
<option value="FCI330">Irish Red and White Setter</option>
<option value="FCI120">Irish Setter</option>
<option value="FCI40">Soft Coated Wheaten Terrier</option>
<option value="FCI139">Irish Terrier</option>
<option value="FCI124">Irish Water Spaniel</option>
<option value="FCI160">Irish Wolfhound</option>
<option value="FCI345">Russell Terrier</option>
<option value="FCI3">Kerry Blue Terrier</option>
<option value="FCI128">English Toy Spaniel</option>
<option value="FCI53">Komondor</option>
<option value="FCI54">Kuvasz</option>
<option value="FCI122">Labrador Retriever</option>
<option value="FCI70">Lakeland Terrier</option>
<option value="FCI145">Leonberger</option>
<option value="FCI227">Lhasa Apso</option>
<option value="FCI65">Maltese</option>
<option value="FCI71">Manchester Terrier</option>
<option value="FCI264">Mastiff</option>
<option value="FCI197">Neapolitan Mastiff</option>
<option value="FCI359">Miniature Bull Terrier</option>
<option value="FCI50">Newfoundland</option>
<option value="FCI272">Norfolk Terrier</option>
<option value="FCI237">Norwegian Buhund</option>
<option value="FCI242">Norwegian Elkhound</option>
<option value="FCI265">Norwegian Lundehund</option>
<option value="FCI72">Skye Terrier</option>
<option value="FCI312">Nova Scotia Duck Tolling Retriever</option>
<option value="FCI16">Old English Sheepdog</option>
<option value="FCI294">Otterhound</option>
<option value="FCI339">Parson Russell Terrier</option>
<option value="FCI207">Pekingese</option>
<option value="FCI67">Petit Basset Griffon Vendeen</option>
<option value="FCI233">Lowchen</option>
<option value="FCI248">Pharaoh Hound</option>
<option value="FCI200">Italian Greyhound</option>
<option value="FCI89">Ibizan Hound</option>
<option value="FCI94">Portuguese Podengo Pequeno</option>
<option value="FCI251">Polish Lowland Sheepdog</option>
<option value="FCI253">Pug</option>
<option value="FCI55">Puli</option>
<option value="FCI146">Rhodesian Ridgeback</option>
<option value="FCI181">Giant Schnauzer</option>
<option value="FCI147">Rottweiler</option>
<option value="FCI57">Vizsla</option>
<option value="FCI193">Borzoi</option>
<option value="FCI327">Black Russian Terrier</option>
<option value="FCI331">Anatolian Shepherd Dog</option>
<option value="FCI212">Samoyed</option>
<option value="FCI83">Schipperke</option>
<option value="FCI182">Standard Schnauzer</option>
<option value="FCI73">Scottish Terrier</option>
<option value="FCI74">Sealyham Terrier</option>
<option value="FCI309">Chinese Shar-Pei</option>
<option value="FCI88">Shetland Sheepdog</option>
<option value="FCI257">Shiba Inu</option>
<option value="FCI208">Shih Tzu</option>
<option value="FCI270">Siberian Husky</option>
<option value="FCI165">Spinone Italiano</option>
<option value="FCI61">St. Bernard</option>
<option value="FCI76">Staffordshire Bull Terrier</option>
<option value="FCI189">Finnish Lapphund</option>
<option value="FCI49">Finnish Spitz</option>
<option value="FCI127">Sussex Spaniel</option>
<option value="FCI231">Tibetan Spaniel</option>
<option value="FCI209">Tibetan Terrier</option>
<option value="FCI14">Swedish Vallhund</option>
<option value="FCI99">Weimaraner</option>
<option value="FCI38">Cardigan Welsh Corgi</option>
<option value="FCI126">Welsh Springer Spaniel</option>
<option value="FCI78">Welsh Terrier</option>
<option value="FCI85">West Highland White Terrier</option>
<option value="FCI162">Whippet</option>
<option value="FCI234">Xoloitzcuintli</option>
<option value="FCI86">Yorkshire Terrier</option>
<option value="FCI185">Miniature Pinscher</option>
<option value="FCI183">Miniature Schnauzer</option>
<option value="FCI254">Alpine Dachsbracke</option>
<option value="FCI344">American Akita</option>
<option value="FCI325">Medium-Sized Anglo-French Hound</option>
<option value="FCI46">Appenzeller Sennenhund</option>
<option value="FCI177">Ariege Pointer</option>
<option value="FCI20">Ariegeois</option>
<option value="FCI293">Australian Kelpie</option>
<option value="FCI351">Australian Stumpy Tail Cattle Dog</option>
<option value="FCI63">Austrian Black and Tan Hound</option>
<option value="FCI64">Austrian Pinscher</option>
<option value="FCI307">Azawakh</option>
<option value="FCI105">Barbet</option>
<option value="FCI34">Norman Artesian Basset</option>
<option value="FCI35">Blue Gascony Basset</option>
<option value="FCI36">Fawn Brittany Basset</option>
<option value="FCI217">Bavarian Mountain Hound</option>
<option value="FCI290">Beagle-Harrier</option>
<option value="FCI347">White Swiss Shepherd Dog</option>
<option value="FCI176">Picardy Shepherd</option>
<option value="FCI45">Bernese Mountain Dog</option>
<option value="FCI25">Billy</option>
<option value="FCI106">Blue Picardy Spaniel</option>
<option value="FCI196">Bolognese</option>
<option value="FCI155">Bosnian Coarse-haired Hound</option>
<option value="FCI171">Bouvier des Ardenne</option>
<option value="FCI202">Italian Pointing Dog</option>
<option value="FCI180">Auvergne Pointing Dog</option>
<option value="FCI179">Bourbonnais Pointing Dog</option>
<option value="FCI133">French Pointing Dog - Gascogne type</option>
<option value="FCI134">French Pointing Dog - Pyrenean type</option>
<option value="FCI115">St. Germain Pointing Dog</option>
<option value="FCI19">Briquet Griffon Vendéen</option>
<option value="FCI315">Broholmer</option>
<option value="FCI321"> Majorca Shepherd Dog</option>
<option value="FCI194">Bergamasco Shepherd</option>
<option value="FCI201">Maremma Sheepdog</option>
<option value="FCI173">Estrela Mountain Dog</option>
<option value="FCI93">Portuguese Sheepdog</option>
<option value="FCI170">Dog from Castro Laboreiro</option>
<option value="FCI340">Saint Miguel Cattle Dog</option>
<option value="FCI245">Cesky Fousek</option>
<option value="FCI333">Polish Greyhound</option>
<option value="FCI28">Artois Hound</option>
<option value="FCI138">Pyrenean Shepherd smooth-Faced</option>
<option value="FCI247">Aidi</option>
<option value="FCI353">Uruguayan Cimarron</option>
<option value="FCI350">Romanian Carpathian Shepherd Dog</option>
<option value="FCI357">Southeastern European Shepherd Dog</option>
<option value="FCI349">Romanian Mioritic</option>
<option value="FCI199">Cirneco dell'Etna</option>
<option value="FCI156">Rough Collie</option>
<option value="FCI296">Smooth Collie</option>
<option value="FCI279">Montenegrin Mountain Hound</option>
<option value="FCI277">Croatian Sheepdog</option>
<option value="FCI332">Czechoslovak Wolfdog</option>
<option value="FCI356">Danish–Swedish Farmdog</option>
<option value="FCI117">German long-haired Pointing Dog</option>
<option value="FCI232">German Rough-haired Pointing Dog</option>
<option value="FCI299">German Hound</option>
<option value="FCI104">German Spaniel</option>
<option value="FCI292">Argentine Dogo</option>
<option value="FCI346">Canary Catch Dog</option>
<option value="FCI224">Drentse Patrijshond</option>
<option value="FCI130">Drever</option>
<option value="FCI203">Dunker</option>
<option value="FCI13">English Toy Terrier</option>
<option value="FCI114">Pont-Audemer Spaniel</option>
<option value="FCI175">French Spaniel</option>
<option value="FCI108">Picardy Spaniel</option>
<option value="FCI291">Eurasier</option>
<option value="FCI225">Fila Brasileiro</option>
<option value="FCI220">French White and Black Hound</option>
<option value="FCI316">French White and Orange Hound</option>
<option value="FCI219">TFrench Tricolour Hound</option>
<option value="FCI285">Spanish Galgo</option>
<option value="FCI281">Old Danish Pointer</option>
<option value="FCI21">Gascon Saintongeois</option>
<option value="FCI87">Catalan Sheepdog</option>
<option value="FCI33">Large Basset Griffon Vendeen</option>
<option value="FCI22">Grand Bleu de Gascogne</option>
<option value="FCI282">Grand Griffon Vendéen</option>
<option value="FCI323">Great Anglo-Francais White and Black Hound</option>
<option value="FCI324">Great Anglo-Francais White and Orange Hound</option>
<option value="FCI322">Grand Anglo-Francais Tricolore</option>
<option value="FCI274">Greenland Dog</option>
<option value="FCI81">Belgium Griffon</option>
<option value="FCI32">Griffon Bleu de Gascogne</option>
<option value="FCI80">Brussels Griffon</option>
<option value="FCI66">Fawn Brittany Griffon</option>
<option value="FCI17">Griffon Nivernais</option>
<option value="FCI118">Large Munsterlander</option>
<option value="FCI267">Halden Hound</option>
<option value="FCI132">Swedish Foxhound</option>
<option value="FCI213">Hanover Hound</option>
<option value="FCI214">Hellenikos Ichnilatis</option>
<option value="FCI261">Hokkaido (Ainu-ken)</option>
<option value="FCI223">Dutch Shepherd Dog</option>
<option value="FCI308">Dutch Smoushond</option>
<option value="FCI190">Hovawart</option>
<option value="FCI239">Hungarian Wirehaired Vizsla</option>
<option value="FCI266">Hygen Hound</option>
<option value="FCI326">South Russian Sheepdog</option>
<option value="FCI151">Istrian Shorthaired Hound</option>
<option value="FCI152">Istrian Coarse-haired Hound</option>
<option value="FCI103">Jagdterrier</option>
<option value="FCI42">Swedish Elkhound</option>
<option value="FCI41">Yugoslav Shepherd</option>
<option value="FCI317">Kai Ken</option>
<option value="FCI48">Karelian Bear Dog</option>
<option value="FCI278">Karst Shepherd</option>
<option value="FCI328">Caucasian Shepherd Dog</option>
<option value="FCI318">Kishu</option>
<option value="FCI102">Small Munsterlander</option>
<option value="FCI334">Korean Jindo Dog</option>
<option value="FCI192">Kromi</option>
<option value="FCI298">Romagna Water Dog</option>
<option value="FCI226">Landseer</option>
<option value="FCI284">Lapponian Herder</option>
<option value="FCI240">Hungarian Agar</option>
<option value="FCI92">Pyrenean Mastiff</option>
<option value="FCI91">Spanish Mastiff</option>
<option value="FCI314">Kooiker Hound</option>
<option value="FCI313">Schapendoes</option>
<option value="FCI262">Japanese Spitz</option>
<option value="FCI259">Japanese Terrier</option>
<option value="FCI276">Nordic Spitz</option>
<option value="FCI268">Black Norwegian Elkhound</option>
<option value="FCI52">Polish Hound</option>
<option value="FCI90">Burgos Pointing Dog</option>
<option value="FCI336">Spanish Water Dog</option>
<option value="FCI249">Ca de Bou </option>
<option value="FCI310">Peruvian Hairless Dog</option>
<option value="FCI31">Petit Bleu de Gascogne</option>
<option value="FCI82">Petit Brabanson</option>
<option value="FCI329">Podenco Canario</option>
<option value="FCI24">Poitevin</option>
<option value="FCI354">Polish Hunting Dog</option>
<option value="FCI252">Polish Tatra Sheepdog</option>
<option value="FCI30">Porcelaine</option>
<option value="FCI187">Portuguese Pointer</option>
<option value="FCI154">Posavac Hound</option>
<option value="FCI216">Pudelpointer</option>
<option value="FCI56">Pumi</option>
<option value="FCI96">Portuguese Mastiff</option>
<option value="FCI352">Russian Toy Terrier</option>
<option value="FCI304">Russo-European Laika</option>
<option value="FCI204">Spanish Hound</option>
<option value="FCI131">Schiller Hound</option>
<option value="FCI59">Schweizer Laufhund</option>
<option value="FCI337">Segugio Italiano wire-haired</option>
<option value="FCI198">Segugio Italiano short-haired</option>
<option value="FCI319">Shikoku</option>
<option value="FCI75">Skye Terrier</option>
<option value="FCI188">Sloughi</option>
<option value="FCI320">Slovakian Rough-haired Pointer</option>
<option value="FCI142">Slovak Cuvac</option>
<option value="FCI244">Slovakian Hound</option>
<option value="FCI129">Smaland Hound</option>
<option value="FCI60">Small Swiss Hound</option>
<option value="FCI335">Central Asian Shepherd Dog</option>
<option value="FCI150">Serbian Hound</option>
<option value="FCI229">Serbian Tricolour Hound</option>
<option value="FCI222">Stabyhoun</option>
