<option value="FCI7">TRANSLATE::Эрдельтерьер</option>
<option value="FCI283">TRANSLATE::Котон де Тюлеар</option>
<option value="FCI148">Dachshund</option>
<option value="FCI238">TRANSLATE::Муди</option>
<option value="FCI62">TRANSLATE::Австрийский брудастый бракк (Штирская жесткошерстная гончая)</option>
<option value="FCI51">TRANSLATE::Трехцветная финская гончая</option>
<option value="FCI135">TRANSLATE::Шведская лопарская лайка</option>
<option value="FCI348">TRANSLATE::Тайваньская Собака</option>
<option value="FCI341">TRANSLATE::Бразильский терьер</option>
<option value="FCI358">TRANSLATE::Тайский банкэв</option>
<option value="FCI338">TRANSLATE::Тайский риджбек</option>
<option value="FCI68">TRANSLATE::Тирольский бракк</option>
<option value="FCI355">TRANSLATE::Торньяк</option>
<option value="FCI260">TRANSLATE::Тоса (Тоса ину)</option>
<option value="FCI241">TRANSLATE::Трансильванская гончая (Эрдели копо)</option>
<option value="FCI195">TRANSLATE::Итальянский вольпин</option>
<option value="FCI305">TRANSLATE::Восточно-Сибирская Лайка</option>
<option value="FCI39">TRANSLATE::Вельш корги пемброк</option>
<option value="FCI100">TRANSLATE::Вестфальский таксообразный бракк</option>
<option value="FCI221">TRANSLATE::Веттерхун (Фризская водяная собака)</option>
<option value="FCI306">TRANSLATE::Западно сибирская лайка</option>
<option value="FCI186">Affenpinscher</option>
<option value="FCI228">Afghan Hound</option>
<option value="FCI255">Akita</option>
<option value="FCI243">Alaskan Malamute</option>
<option value="FCI167">Cocker Spaniel</option>
<option value="FCI303">American Foxhound</option>
<option value="FCI286">American Staffordshire Terrier</option>
<option value="FCI301">American Water Spaniel</option>
<option value="FCI331">Anatolian Shepherd Dog</option>
<option value="FCI287">Australian Cattle Dog</option>
<option value="FCI342">Australian Shepherd</option>
<option value="FCI236">Silky Terrier</option>
<option value="FCI8">Australian Terrier</option>
<option value="FCI43">Basenji</option>
<option value="FCI163">Basset Hound</option>
<option value="FCI161">Beagle</option>
<option value="FCI271">Bearded Collie</option>
<option value="FCI9">Bedlington Terrier</option>
<option value="FCI44">Beauceron</option>
<option value="FCI113">Briard</option>
<option value="FCI215">Bichon Frise</option>
<option value="FCI250">Havanese</option>
<option value="FCI300">Black and Tan Coonhound</option>
<option value="FCI297">Border Collie</option>
<option value="FCI10">Border Terrier</option>
<option value="FCI140">Boston Terrier</option>
<option value="FCI95">Brittany</option>
<option value="FCI101">French Bulldog</option>
<option value="FCI144">Boxer</option>
<option value="FCI191">Bouvier des Flandres</option>
<option value="FCI11">Bull Terrier</option>
<option value="FCI149">Bulldog</option>
<option value="FCI157">Bullmastiff</option>
<option value="FCI4">Cairn Terrier</option>
<option value="FCI273">Canaan Dog</option>
<option value="FCI343">Cane Corso</option>
<option value="FCI172">Poodle</option>
<option value="FCI37">Portuguese Water Dog</option>
<option value="FCI136">Cavalier King Charles Spaniel</option>
<option value="FCI246">Cesky Terrier</option>
<option value="FCI263">Chesapeake Bay Retriever</option>
<option value="FCI15">Belgian Sheepdog</option>
<option value="FCI269">Saluki</option>
<option value="FCI141">Pyrenean Shepherd</option>
<option value="FCI137">Great Pyrenees</option>
<option value="FCI84">Bloodhound</option>
<option value="FCI218">Chihuahua</option>
<option value="FCI206">Japanese Chin</option>
<option value="FCI288">Chinese Crested</option>
<option value="FCI205">Chow Chow</option>
<option value="FCI109">Clumber Spaniel</option>
<option value="FCI110">Curly-Coated Retriever</option>
<option value="FCI153">Dalmatian</option>
<option value="FCI168">Dandie Dinmont Terrier</option>
<option value="FCI164">Scottish Deerhound</option>
<option value="FCI98">German Wirehaired Pointer</option>
<option value="FCI119">German Shorthaired Pointer</option>
<option value="FCI235">Great Dane</option>
<option value="FCI184">German Pinscher</option>
<option value="FCI166">German Shepherd Dog</option>
<option value="FCI97">Pomeranian</option>
<option value="FCI143">Doberman Pinscher</option>
<option value="FCI116">Dogue de Bordeaux</option>
<option value="FCI230">Tibetan Mastiff</option>
<option value="FCI5">English Cocker Spaniel</option>
<option value="FCI159">English Foxhound</option>
<option value="FCI1">Pointer</option>
<option value="FCI2">English Setter</option>
<option value="FCI125">English Springer Spaniel</option>
<option value="FCI47">Entlebucher Mountain Dog</option>
<option value="FCI77">Papillon</option>
<option value="FCI123">Field Spaniel</option>
<option value="FCI121">Flat-Coated Retriever</option>
<option value="FCI12">Smooth Fox Terrier</option>
<option value="FCI169">Wire Fox Terrier</option>
<option value="FCI111">Golden Retriever</option>
<option value="FCI6">Gordon Setter</option>
<option value="FCI158">Greyhound</option>
<option value="FCI107">Wirehaired Pointing Griffon</option>
<option value="FCI58">Greater Swiss Mountain Dog</option>
<option value="FCI295">Harrier</option>
<option value="FCI289">Icelandic Sheepdog</option>
<option value="FCI302">Glen of Imaal Terrier</option>
<option value="FCI330">Irish Red and White Setter</option>
<option value="FCI120">Irish Setter</option>
<option value="FCI40">Soft Coated Wheaten Terrier</option>
<option value="FCI139">Irish Terrier</option>
<option value="FCI124">Irish Water Spaniel</option>
<option value="FCI160">Irish Wolfhound</option>
<option value="FCI345">Russell Terrier</option>
<option value="FCI3">Kerry Blue Terrier</option>
<option value="FCI128">English Toy Spaniel</option>
<option value="FCI53">Komondor</option>
<option value="FCI54">Kuvasz</option>
<option value="FCI122">Labrador Retriever</option>
<option value="FCI70">Lakeland Terrier</option>
<option value="FCI145">Leonberger</option>
<option value="FCI227">Lhasa Apso</option>
<option value="FCI65">Maltese</option>
<option value="FCI71">Manchester Terrier</option>
<option value="FCI264">Mastiff</option>
<option value="FCI197">Neapolitan Mastiff</option>
<option value="FCI359">Miniature Bull Terrier</option>
<option value="FCI50">Newfoundland</option>
<option value="FCI272">Norfolk Terrier</option>
<option value="FCI237">Norwegian Buhund</option>
<option value="FCI242">Norwegian Elkhound</option>
<option value="FCI265">Norwegian Lundehund</option>
<option value="FCI72">Skye Terrier</option>
<option value="FCI312">Nova Scotia Duck Tolling Retriever</option>
<option value="FCI16">Old English Sheepdog</option>
<option value="FCI294">Otterhound</option>
<option value="FCI339">Parson Russell Terrier</option>
<option value="FCI207">Pekingese</option>
<option value="FCI67">Petit Basset Griffon Vendeen</option>
<option value="FCI233">Lowchen</option>
<option value="FCI248">Pharaoh Hound</option>
<option value="FCI200">Italian Greyhound</option>
<option value="FCI89">Ibizan Hound</option>
<option value="FCI94">Portuguese Podengo Pequeno</option>
<option value="FCI251">Polish Lowland Sheepdog</option>
<option value="FCI253">Pug</option>
<option value="FCI55">Puli</option>
<option value="FCI146">Rhodesian Ridgeback</option>
<option value="FCI181">Giant Schnauzer</option>
<option value="FCI147">Rottweiler</option>
<option value="FCI57">Vizsla</option>
<option value="FCI193">Borzoi</option>
<option value="FCI327">Black Russian Terrier</option>
<option value="FCI331">Anatolian Shepherd Dog</option>
<option value="FCI212">Samoyed</option>
<option value="FCI83">Schipperke</option>
<option value="FCI182">Standard Schnauzer</option>
<option value="FCI73">Scottish Terrier</option>
<option value="FCI74">Sealyham Terrier</option>
<option value="FCI309">Chinese Shar-Pei</option>
<option value="FCI88">Shetland Sheepdog</option>
<option value="FCI257">Shiba Inu</option>
<option value="FCI208">Shih Tzu</option>
<option value="FCI270">Siberian Husky</option>
<option value="FCI165">Spinone Italiano</option>
<option value="FCI61">St. Bernard</option>
<option value="FCI76">Staffordshire Bull Terrier</option>
<option value="FCI189">Finnish Lapphund</option>
<option value="FCI49">Finnish Spitz</option>
<option value="FCI127">Sussex Spaniel</option>
<option value="FCI231">Tibetan Spaniel</option>
<option value="FCI209">Tibetan Terrier</option>
<option value="FCI14">Swedish Vallhund</option>
<option value="FCI99">Weimaraner</option>
<option value="FCI38">Cardigan Welsh Corgi</option>
<option value="FCI126">Welsh Springer Spaniel</option>
<option value="FCI78">Welsh Terrier</option>
<option value="FCI85">West Highland White Terrier</option>
<option value="FCI162">Whippet</option>
<option value="FCI234">Xoloitzcuintli</option>
<option value="FCI86">Yorkshire Terrier</option>
<option value="FCI185">Miniature Pinscher</option>
<option value="FCI183">Miniature Schnauzer</option>
<option value="FCI254">TRANSLATE::Альпийская таксообразная гончая</option>
<option value="FCI344">TRANSLATE::Американская акита</option>
<option value="FCI325">TRANSLATE::Англо-французская гончая</option>
<option value="FCI46">TRANSLATE::Аппенцеллер зенненхунд</option>
<option value="FCI177">TRANSLATE::Арьежская легавая</option>
<option value="FCI20">TRANSLATE::Арьежуа</option>
<option value="FCI293">TRANSLATE::Австралийский келпи</option>
<option value="FCI351">TRANSLATE::Австралийская короткохвостая пастушья собака</option>
<option value="FCI63">TRANSLATE::Австрийская гончая (Брандл-бракк)</option>
<option value="FCI64">TRANSLATE::Австрийский пинчер</option>
<option value="FCI307">TRANSLATE::Азавак</option>
<option value="FCI105">TRANSLATE::Барбет</option>
<option value="FCI34">TRANSLATE::Бассет артезиано-нормандский</option>
<option value="FCI35">TRANSLATE::Бассет голубой гасконский</option>
<option value="FCI36">TRANSLATE::Бассет рыжий бретонский</option>
<option value="FCI217">TRANSLATE::Баварская горная гончая</option>
<option value="FCI290">TRANSLATE::Бигль-харрьер</option>
<option value="FCI347">TRANSLATE::Белая швейцарская овчарка</option>
<option value="FCI176">TRANSLATE::Пикардийская овчарка (Пикарди)</option>
<option value="FCI45">TRANSLATE::Бернский зенненхунд</option>
<option value="FCI25">TRANSLATE::Бийи</option>
<option value="FCI106">TRANSLATE::Голубой пикардийский спаниель</option>
<option value="FCI196">TRANSLATE::Болоньез</option>
<option value="FCI155">TRANSLATE::Боснийская грубошерстная гончая</option>
<option value="FCI171">TRANSLATE::Бувье арденский</option>
<option value="FCI202">TRANSLATE::Итальянская короткошерстная легавая</option>
<option value="FCI180">TRANSLATE::Брак овернский</option>
<option value="FCI179">TRANSLATE::Брак бурбонский</option>
<option value="FCI133">TRANSLATE::Брак французский - тип гасконский (большой хвост)</option>
<option value="FCI134">TRANSLATE::Брак французский - тип пиренейский (малый хвост)</option>
<option value="FCI115">TRANSLATE::Брак сен-жерменский</option>
<option value="FCI19">TRANSLATE::Брикет-гриффон вандейский</option>
<option value="FCI315">TRANSLATE::Брогольмер</option>
<option value="FCI321">TRANSLATE::Ка де Бестиар (Майоркская овчарка)</option>
<option value="FCI194">TRANSLATE::Бергамская овчарка</option>
<option value="FCI201">TRANSLATE::Мареммо-абруццкая овчарка</option>
<option value="FCI173">TRANSLATE::Эштрельская овчарка</option>
<option value="FCI93">TRANSLATE::Португальская овчарка</option>
<option value="FCI170">TRANSLATE::Каштро-лаборейрская собака</option>
<option value="FCI340">TRANSLATE::Сан-мигельская овчарка</option>
<option value="FCI245">TRANSLATE::Чешский фоусек</option>
<option value="FCI333">TRANSLATE::Польская борзая</option>
<option value="FCI28">TRANSLATE::Артуазская гончая</option>
<option value="FCI138">TRANSLATE::Пиренейская короткошерстная овчарка</option>
<option value="FCI247">TRANSLATE::Айди (Атласская пастушья собака)</option>
<option value="FCI353">TRANSLATE::Уругвайский симарон</option>
<option value="FCI350">TRANSLATE::Румынская карпатская овчарка</option>
<option value="FCI357">TRANSLATE::Румынская буковинская овчарка</option>
<option value="FCI349">TRANSLATE::Румынская овчарка миоритик</option>
<option value="FCI199">TRANSLATE::Чирнеко дель Этна</option>
<option value="FCI156">TRANSLATE::Колли длинношёрстный</option>
<option value="FCI296">TRANSLATE::Колли короткошёрстный</option>
<option value="FCI279">TRANSLATE::Планинская гончая</option>
<option value="FCI277">TRANSLATE::Хорватская овчарка</option>
<option value="FCI332">TRANSLATE::Чехословацкая волчья собака</option>
<option value="FCI356">TRANSLATE::Датско-Шведская фермерская собака</option>
<option value="FCI117">TRANSLATE::Лангхаар (Немецкая длинношерстная легавая)</option>
<option value="FCI232">TRANSLATE::Штихельхаар (Немецкая щетинистая легавая)</option>
<option value="FCI299">TRANSLATE::Немецкая гончая</option>
<option value="FCI104">TRANSLATE::Немецкий вахтельхунд (Немецкая перепелиная собака)</option>
<option value="FCI292">TRANSLATE::Дог аргентинский</option>
<option value="FCI346">TRANSLATE::Дог канарский</option>
<option value="FCI224">TRANSLATE::Дрентская куропаточная собака</option>
<option value="FCI130">TRANSLATE::Драйвер</option>
<option value="FCI203">TRANSLATE::Дункер</option>
<option value="FCI13">TRANSLATE::Английский той терьер</option>
<option value="FCI114">TRANSLATE::Понт-одемерский спаниель</option>
<option value="FCI175">TRANSLATE::Французский спаниель</option>
<option value="FCI108">TRANSLATE::Пикардийский спаниэль</option>
<option value="FCI291">TRANSLATE::Евразиер</option>
<option value="FCI225">TRANSLATE::Фила Бразилейро</option>
<option value="FCI220">TRANSLATE::Французская черно-пегая гончая</option>
<option value="FCI316">TRANSLATE::Французская красно-пегая гончая</option>
<option value="FCI219">TRANSLATE::Французская трехцветная гончая</option>
<option value="FCI285">TRANSLATE::Испанский гальго</option>
<option value="FCI281">TRANSLATE::Стародатская легавая</option>
<option value="FCI21">TRANSLATE::Гасконский сентонжуа</option>
<option value="FCI87">TRANSLATE::Каталонская овчарка</option>
<option value="FCI33">TRANSLATE::Большой вандейский бассет-гриффон</option>
<option value="FCI22">TRANSLATE::Большая голубая гасконская гончая</option>
<option value="FCI282">TRANSLATE::Вандейский гриффон</option>
<option value="FCI323">TRANSLATE::Большая англо-французская черно-пегая гончая</option>
<option value="FCI324">TRANSLATE::Большая англо-французская красно-пегая гончая</option>
<option value="FCI322">TRANSLATE::Большая англо-французская трехцветная гончая</option>
<option value="FCI274">TRANSLATE::Гренландская собака</option>
<option value="FCI81">TRANSLATE::Бельгийский гриффон</option>
<option value="FCI32">TRANSLATE::Голубой гасконский гриффон</option>
<option value="FCI80">TRANSLATE::Брюссельский гриффон</option>
<option value="FCI66">TRANSLATE::Рыжый британский гриффон</option>
<option value="FCI17">TRANSLATE::Нивернесский гриффон</option>
<option value="FCI118">TRANSLATE::Мюнстерлендер большой</option>
<option value="FCI267">TRANSLATE::Хальденстевер</option>
<option value="FCI132">TRANSLATE::Шведская гончая</option>
<option value="FCI213">TRANSLATE::Ганноверская гончая</option>
<option value="FCI214">TRANSLATE::Эллинский икнилатис</option>
<option value="FCI261">TRANSLATE::Хоккайдо (Айну-кен)</option>
<option value="FCI223">TRANSLATE::Голландская овчарка</option>
<option value="FCI308">TRANSLATE::Голландский смаусхонд</option>
<option value="FCI190">TRANSLATE::Ховаварт</option>
<option value="FCI239">TRANSLATE::Венгерская жесткошерстная легавая</option>
<option value="FCI266">TRANSLATE::Хюгенхунд</option>
<option value="FCI326">TRANSLATE::Южнорусская овчарка</option>
<option value="FCI151">TRANSLATE::Истрийская жесткошерстная гончая</option>
<option value="FCI152">TRANSLATE::Истрийская короткошерстная гончая</option>
<option value="FCI103">TRANSLATE::Немецкий ягдтерьер</option>
<option value="FCI42">TRANSLATE::Емтхунд (Шведская лайка)</option>
<option value="FCI41">TRANSLATE::Шарпланинская овчарка</option>
<option value="FCI317">TRANSLATE::Каи</option>
<option value="FCI48">TRANSLATE::Карельская медвежья собака</option>
<option value="FCI278">TRANSLATE::Карстская овчарка</option>
<option value="FCI328">TRANSLATE::Кавказская овчарка</option>
<option value="FCI318">TRANSLATE::Кишу (Кисю)</option>
<option value="FCI102">TRANSLATE::Малый мюнстерлендер</option>
<option value="FCI334">TRANSLATE::Корейский джиндо</option>
<option value="FCI192">TRANSLATE::Кромфорлендер</option>
<option value="FCI298">TRANSLATE::Лаготто романьоло</option>
<option value="FCI226">TRANSLATE::Ландсир</option>
<option value="FCI284">TRANSLATE::Лапинпорокойра (Лапландская оленегонная собака)</option>
<option value="FCI240">TRANSLATE::Мадьяр агарВенгерская борзая)</option>
<option value="FCI92">TRANSLATE::Мастиф пиренейский</option>
<option value="FCI91">TRANSLATE::Мастиф испанский</option>
<option value="FCI314">TRANSLATE::Голландский спаниель</option>
<option value="FCI313">TRANSLATE::Схапендус</option>
<option value="FCI262">TRANSLATE::Японский Шпиц</option>
<option value="FCI259">TRANSLATE::Японский терьер</option>
<option value="FCI276">TRANSLATE::Норботтенская лайка</option>
<option value="FCI268">TRANSLATE::Норвежский черный эльгхунд</option>
<option value="FCI52">TRANSLATE::Польская гончая</option>
<option value="FCI90">TRANSLATE::Бургосская легавая</option>
<option value="FCI336">TRANSLATE::Испанская водная собака </option>
<option value="FCI249">TRANSLATE::Ка де Бо (Майорский Мастиф)</option>
<option value="FCI310">TRANSLATE::Перуанская голая собака</option>
<option value="FCI31">TRANSLATE::Малая голубая гасконская гончая</option>
<option value="FCI82">TRANSLATE::Малый брабансон</option>
<option value="FCI329">TRANSLATE::Канарский поденко</option>
<option value="FCI24">TRANSLATE::Пойтевин</option>
<option value="FCI354">TRANSLATE::Польская гончая</option>
<option value="FCI252">TRANSLATE::Подгалянская овчарка</option>
<option value="FCI30">TRANSLATE::Порселен</option>
<option value="FCI187">TRANSLATE::Португальский Пойнтер</option>
<option value="FCI154">TRANSLATE::Посавская гончая</option>
<option value="FCI216">TRANSLATE::Пудель-пойнтер</option>
<option value="FCI56">TRANSLATE::Пуми</option>
<option value="FCI96">TRANSLATE::Португальский рафейру</option>
<option value="FCI352">TRANSLATE::Русский той терьер</option>
<option value="FCI304">TRANSLATE::Русско-европейская лайка</option>
<option value="FCI204">TRANSLATE::Испанская гончая</option>
<option value="FCI131">TRANSLATE::Гончая Шиллера</option>
<option value="FCI59">TRANSLATE::Швейцарский лауфхунд</option>
<option value="FCI337">TRANSLATE::Итальянская грубошерстная гончая</option>
<option value="FCI198">TRANSLATE::Итальянская короткошерстная гончая</option>
<option value="FCI319">TRANSLATE::Шикоку</option>
<option value="FCI75">TRANSLATE::Скай терьер</option>
<option value="FCI188">TRANSLATE::Слюги (Арабская борзая)</option>
<option value="FCI320">TRANSLATE::Словацкий грубошерстный пойнтер</option>
<option value="FCI142">TRANSLATE::Словацкий чувач</option>
<option value="FCI244">TRANSLATE::Словацкий копов</option>
<option value="FCI129">TRANSLATE::Смаландская гончая</option>
<option value="FCI60">TRANSLATE::Карликовая швейцарская гончая</option>
<option value="FCI335">TRANSLATE::Среднеазиатская овчарка</option>
<option value="FCI150">TRANSLATE::Сербская гончая (Балканская гончая, Югославская гончая)</option>
<option value="FCI229">TRANSLATE::Сербская трехцветная гончая</option>
<option value="FCI222">TRANSLATE::Стабихун</option>
