<option value="CAT1">Abyssinian</option>
<option value="CAT2">Australian Mist</option>
<option value="CAT3">Australian Tiffanie</option>
<option value="CAT4">Asian Shorthair</option>
<option value="CAT5">Asian Smoke</option>
<option value="CAT6">Asian Tabby</option>
<option value="CAT7">Asian Longhair (Tiffany)</option>
<option value="CAT8">Iowa Rex</option>
<option value="CAT9">American Wirehair</option>
<option value="CAT10">American Ringtail</option>
<option value="CAT11">American Shorthair</option>
<option value="CAT12">American Bobtail</option>
<option value="CAT13">American Curl</option>
<option value="CAT14">Anatoli</option>
<option value="CAT15">Arabian Mau</option>
<option value="CAT16">Balinese</option>
<option value="CAT17">Bengal</option>
<option value="CAT18">Bohemia Rex</option>
<option value="CAT19">Bombay</option>
<option value="CAT20">Brazilian Shorthair</option>
<option value="CAT21">Bristol</option>
<option value="CAT22">British Longhair</option>
<option value="CAT23">British Shorthair</option>
<option value="CAT24">Burmilla</option>
<option value="CAT25">Burmese</option>
<option value="CAT26">Havana (Havana Brown)</option>
<option value="CAT27">German Rex</option>
<option value="CAT28">Devon Rex</option>
<option value="CAT29">Household pet (Domestic cat)</option>
<option value="CAT30">Don Sphynx</option>
<option value="CAT31">European SH (Celtic Shorthair)</option>
<option value="CAT32">Egyptian Mau</option>
<option value="CAT33">Foreign White</option>
<option value="CAT34">York Chocolate</option>
<option value="CAT35">California Spangled</option>
<option value="CAT36">Kanaani</option>
<option value="CAT37">Karelian Bobtail</option>
<option value="CAT38">Cimric</option>
<option value="CAT39">Chinese Li Hua (Dragon Li, Li Hua Mao, Li Mao)</option>
<option value="CAT40">Cornish Rex</option>
<option value="CAT41">Kurilian Bobtail</option>
<option value="CAT42">Korat</option>
<option value="CAT43">LaPerm</option>
<option value="CAT44">Mandalay</option>
<option value="CAT45">Manx</option>
<option value="CAT46">Egyptian Mau</option>
<option value="CAT47">Mekong Bobtail</option>
<option value="CAT48">Maine Coon</option>
<option value="CAT49">Neva Masquerade</option>
<option value="CAT50">Nebelung</option>
<option value="CAT51">Norwegian Forest</option>
<option value="CAT52">Oriental Shorthair</option>
<option value="CAT53">Ocicat</option>
<option value="CAT54">Ojos Azules LH</option>
<option value="CAT55">Ojos Azules SH</option>
<option value="CAT56">Persian</option>
<option value="CAT57">Peterbald</option>
<option value="CAT58">Pixiebob</option>
<option value="CAT59">Poodle Cat</option>
<option value="CAT60">Ragamuffin</option>
<option value="CAT61">Russian Blue</option>
<option value="CAT62">Ragdoll</option>
<option value="CAT63">Savannah</option>
<option value="CAT64">Sacred Birman</option>
<option value="CAT65">Selkirk Rex</option>
<option value="CAT66">Siamese</option>
<option value="CAT67">Siberian</option>
<option value="CAT68">Singapura</option>
<option value="CAT69">Scottish Straight</option>
<option value="CAT70">Scottish Fold LH (Highland Fold)</option>
<option value="CAT71">Scottish Fold</option>
<option value="CAT72">Snowshoe</option>
<option value="CAT73">Somali</option>
<option value="CAT74">Sokoke</option>
<option value="CAT75">Sphynx</option>
<option value="CAT76">Thai</option>
<option value="CAT77">Tiffany</option>
<option value="CAT78">Toy-Bob</option>
<option value="CAT79">Toyger</option>
<option value="CAT80">Tonkinese</option>
<option value="CAT81">Turkish Angora</option>
<option value="CAT82">Turkish Van</option>
<option value="CAT83">Ural Rex</option>
<option value="CAT84">Ussuri</option>
<option value="CAT85">Chausie</option>
<option value="CAT86">Chartreux</option>
<option value="CAT87">Ceylon</option>
<option value="CAT88">Exotic Shorthair</option>
<option value="CAT89">Javanese</option>
<option value="CAT90">Japanese Bobtail</option>
