{% load i18n %}<table class="footer" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="footer_text">
            <table align="center" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td><a href="#" class="sitemap_block_on">{% trans "World wide" %}</a></td>
                    <td><a href="#" class="feedback_block_on">{% trans "Contact us" %}</a></td>
                    <td width="400px" align="center">{% trans "&copy;2006-2013 &nbsp; www.mixim.us | pets2show &nbsp; ООО &quot;Мобитун&quot;" %}</td>
                    <td><a href="#" class="rules_block_on">{% trans "Rules" %}</a></td>
                    <td><a href="#" class="about_block_on">{% trans "About us" %}</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>