{% load i18n %}
<table class="footer" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="20px"></td>
    </tr>
    <tr>
        <td class="footer_text">
            <table align="center" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td><a class="sitemap_block_on finger finger">{% trans "World wide" %}</a></td>
                    <td><a class="feedback_block_on finger finger">{% trans "Contact us" %}</a></td>
                    <td width="400px" align="center">&copy;2006-2014 &nbsp; {% trans "www.mixim.us | pets2show &nbsp; &quot;Mobitoon&quot; Inc." %}</td>
                    <td><a class="rules_block_on finger finger">{% trans "Rules" %}</a></td>
                    <td><a class="about_block_on finger finger">{% trans "About us" %}</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>