    <script src="/js/app/geo.js"></script>

    <table class="sitemap_block">
        <tr>
            <td class="sitemap_bkg">
                <table width="880px" align="center" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="120px" align="center" class="sitemap_l">
                            <!--div class="sitemap_2" onmouseover="show_language('Language_EN')">
                                <a>Language</a>
                            </div-->
                            <div class="sitemap_2" onmouseover="show_language('Language_RU')">
                                <a>Язык</a>
                            </div>
                        </td>
                        <td width="120px" align="center">
                            <div id="Language_EN" style="display:none;">
                                <div class="sitemap_2" onmouseover="show_map_uk();">
                                    <a href="http://www.mixim.co.uk">United Kingdom</a>
                                </div>
                                <div class="sitemap_2" onmouseover="show_map_us();">
                                    <a href="http://www.mixim.us">United States</a>
                                </div>
                            </div>
                            <div id="Language_RU" style="display:none;">
                                <div class="sitemap_2" onmouseover="show_map_by();">
                                    <a href="http://www.mixim.ru">Беларусь</a>
                                </div>
                                <div class="sitemap_2" onmouseover="show_map_ru();">
                                    <a href="http://www.mixim.ru">Россия</a>
                                </div>
                                <div class="sitemap_2" onmouseover="show_map_ua();">
                                    <a href="http://www.mixim.ru">Украина</a>
                                </div>
                            </div>
                        </td>
                        <td align="center">
                            <div id="country" class="sitemap_country">
                                <a href="index.shtml" target="_self">www.mixim.ru</a>
                            </div>
                        </td>
                        <td width="40px" valign="top" align="right">
                            <a href="#" title="Закрыть окно" class="sitemap_block_off">
                                <img src="../images/photo_close.png" width="19" height="19" border="0" alt="Закрыть окно">
                            </a>
                        </td>
                    </tr>
                </table>
                <!--table align="center" border="0" cellspacing="0" cellpadding="0" class="animals_window">
                    <tr>
                        <td class="animals_window_caption">География</td>
                        <td align="right" valign="top"><a href="#" title="Закрыть окно" class="sitemap_block_off"><img src="images/photo_close.png" width="19" height="19" border="0" alt="Закрыть окно" title="Закрыть окно"></a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="text_block">
                                География
                            </div>
                        </td>
                    </tr>
                </table-->
            </td>
        </tr>
    </table>