{% load i18n %}
        <script type="text/javascript">
            $(document).ready(function() {
                $('.la_login').click(function() {
                    $('body').css('overflow-y', 'hidden');
                    $('#overlay').show();
                    $('.login_add_block').show();
                    show_login_window();
                });

                $('.la_add').click(function() {
                    $('body').css('overflow-y', 'hidden');
                    $('#overlay').show();
                    $('.login_add_block').show();
                    show_register_window();
                });

                $('.la_reset').click(function() {
                    $('body').css('overflow-y', 'hidden');
                    $('#overlay').show();
                    $('.login_add_block').show();
                    show_resetpassword_window();
                });

                $('a.login_add_block_off').click(function() {
                    $('body').css('overflow-y', 'auto');
                    $('#overlay').hide();
                    $('.login_add_block').hide();
                });
            });

        </script>
        
        <!--table class="login_add s__not_logged" border="0" cellspacing="1px" cellpadding="0">
            <tr>
                <td class="la_login">
                    ВОЙТИ
                </td>
                <td class="la_add">
                    РЕГИСТРАЦИЯ
                </td>
                <td class="la_reset">
                    ЗАБЫЛИ ПАРОЛЬ?
                </td>
            </tr>
        </table-->
        
    <table class="login_add_block">
        <tr>
            <td>
                <table align="center" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="40px">
                        </td>                    
                        <td id="la_block"> <!-- !!!!!!!!!!!!!!!!!!!!!!! удалить старый #block и сопутствующие классы -->
                            <!-- Начало окна авторизации с кнопкой ВОЙТИ -->
                            <div id="login_window" style="display:none">
                                <div id="login_form" style="margin-left:5px;"> <!-- !!!!!!!!!!!!!!!!!!!! вынести margin-left:5px; в login_form -->
                                    <div style="width:214px; height:134px;">
                                        &nbsp;{% trans "Login (nickname):" %}
                                        <center>
                                            <input type="text" id="login_username" class="text_input">
                                        </center>
                                        &nbsp;{% trans "Password:" %}
                                        <center>
                                            <input type="password" id="login_password" class="text_input">
                                            <br>
                                            <div class="radio_remember" style="margin-top:4px;">
                                                <label>
                                                    <div class="radio_div"><input type="checkbox" name="checkbox" value="checkbox" checked></div>- {% trans "stay signed in" %}
                                                </label>
                                            </div>
                                            <div class="out_of_head"><a href="javascript:show_resetpassword_window()">{% trans "Forgot&nbsp;your&nbsp;password?" %}</a></div>
                                        </center>
                                    </div>
                                    <center>
                                        <input type="button" value="{% trans "SIGN&nbsp;IN" %}" class="button_input auth_login_btn">
                                    </center>
                                </div>
                            </div>
                            <!-- Конец окна авторизации -->

                            <!-- Начало окна регистрации с кнопкой ЗАРЕГЕСТРИРОВАТЬСЯ -->
                            <div id="register_window" style="display:none">
                                <div id="add_window" style="margin-left:5px;"> <!-- !!!!!!!!!!!!!!!!!!!! вынести margin-left:5px; в login_form -->
                                    <div style="width:214px; height:134px;">
                                        &nbsp;{% trans "Your e-Mail:" %}
                                        <center>
                                            <input type="text" id="reg_email" class="text_input">
                                        </center>
                                        &nbsp;{% trans "Login (nickname):" %}
                                        <center>
                                            <input type="text" id="reg_username" class="text_input">
                                            <div id="err_reg_username_too_short" class="add_wrongnic reg_form_err_container" style="display:none;">
                                                &nbsp;{% trans "Too short a login/nickname." %}
                                            </div>
                                            <div id="err_reg_username_unallowed" class="add_wrongnic reg_form_err_container" style="display:none;">
                                                &nbsp;{% trans "Login/nickname contains illegal characters." %}
                                            </div>
                                            <div id="err_reg_username_exists" class="add_wrongnic reg_form_err_container" style="display:none;">
                                                &nbsp;{% trans "This login/nickname is already taken. Try to pick up the other." %}
                                            </div>
                                        </center>
                                    </div>
                                    <center>
                                        <input type="button" value="{% trans "CONTINUE" %}" class="button_input auth_register_btn">
                                    </center>
                                </div>
                            </div>
                            <!-- Конец окна регистрации -->

                            <!-- Начало окна регистрации с кнопкой ВОСТАНОВИТЬ ДОСТУП -->
                            <div id="resetpassword_window" style="display:none">
                                <div id="remail_window" style="margin-left:5px;"> <!-- !!!!!!!!!!!!!!!!!!!! вынести margin-left:5px; в login_form -->
                                    <div style="width:214px; height:134px;">
                                        &nbsp;{% trans "Your login(nickname):" %}
                                        <center>
                                            <input type="text" id="resetpassword_email" class="text_input">
                                            <div style="width:194px; text-align:justify; margin-top:8px;">
                                                &nbsp;{% trans "At specified at registration e-Mail address will be sent instructions to reset your password." %}
                                            </div>
                                        </center>
                                    </div>
                                    <center>
                                        <input type="button" value="{% trans "RECOVER" %}" class="button_input" onclick="auth_resetpassword()">
                                    </center>
                                </div>
                            </div>
                            <!-- Конец окна востановления доступа -->

                            <!-- Начало - окно ошибки -->
                            <div id="error_window" class="la_error_window"> <!-- !!!!!!!!!!!!!!!!! удалить из #error_window после замены все -->
                                <img src="../images/error_window_corner.png" width="42" height="47">
                                <div class="error-popup">
                                	<font id="error_text" color="#ffffbb"></font>
                                </div>
                            </div>
                            <!-- Конец - окно ошибки -->
                        </td>
                        <td width="40px" valign="top" align="right">
                            <a title="{% trans "Close window" %}" class="login_add_block_off finger">
                                <img src="../images/photo_close.png" width="19" height="19" border="0" alt="{% trans "Close window" %}">
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>