{% load i18n %}        <script>
            var upload_pet_id = null;

            function open_upload(pet_id) {
                return function () {
                    if (!is_logged()) {
                        my_alert('{% trans "Add picture" %}', '{% trans "&nbsp;&nbsp;Only registered users can post photos. Please sign in. You may create a free account!" %}');
                        return;
                    }

                    upload_pet_id = pet_id;

                    $('body').css('overflow-y', 'hidden');
                    $('#overlay').show();
                    $('.add_photo_block').show();
                }
            }

            jQuery(document).ready(function () {
                $('#media_file').fileupload({
                    dataType: 'json',
                    formData: function () {
                        params = [];
                        if (upload_pet_id != null) {
                            params.push({ name: 'pet', value: upload_pet_id });
                        }
                        return params;
                    },
                    done: function (e, data) {
                        $('a.s__media_upload_win_close').click();
                        gallery_load();
                        var response = data.result;
                        if (response.success) {
                            show_photo(response.result.id);
                        }
                    }
                });

                /*$('a.s__media_upload_win_open').click(open_upload(null));

                $('a.s__media_upload_win_close').click(function() {
                    $('body').css('overflow-y', 'auto');
                    $('#overlay').hide();
                    $('.add_photo_block').hide();
                });*/
                
                $('.s__media_upload_win_open').click(function() {
                    if (!is_logged()) {
                        my_alert('{% trans "Add picture" %}', '{% trans "&nbsp;&nbsp;Only registered users can post photos. Please sign in. You may create a free account!" %}');
                        return;
                    }
                });
            });
        </script>
