        <script type="text/javascript">
                $(document).ready(function(){
                  $('a.rules_block_on').click(function() {
                        $('body').css('overflow-y', 'hidden'); // убираем скрол
                        $('#overlay').show(); // заеняем
                        $('.rules_block').show(); // показываем окно
                  });

                  $('a.rules_block_off').click(function() {
                        $('body').css('overflow-y', 'auto'); // возвращаем скрол
                        $('#overlay').hide(); // освеляем
                        $('.rules_block').hide(); // скрываем окно
                  });
                });
        </script>
        <table class="rules_block">
            <tr>
                <td>
                    <table align="center" border="0" cellspacing="0" cellpadding="0" class="animals_window">
                        <tr>
                            <td class="animals_window_caption">Регламент</td>
                            <td align="right" valign="top"><a href="#" title="Закрыть окно" class="rules_block_off"><img src="../images/photo_close.png" width="19" height="19" border="0" alt="Закрыть окно" title="Закрыть окно"></a></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="text_block">
                                    <p>Перед началом использования (регистрацией) социальной сети, Вам (как пользователю) необходимо ознакомиться с настоящими правилами, тем самым, принимая и соблюдая условия использования социальной сети.</p>
                                    <ul style="border:1px solid #333333;">Вкратце:<br>
                                        <li>-&nbsp;Наш сайт о питомцах и для них, для тех, кто стал нашими домашними любимцами. Человеку на этом празднике жизни выделена роль автобиографа, спецкорреспондента, фотографа. оператора а значит, к публикации будет допущен только собственный контент <i>- фото, видео и т.д.</i></li>
                                    </ul>
                                    <ul style="border:1px solid #333333;">
                                        Важно знать, что:<br>
                                        <li>-&nbsp;желательно заполнять о себе полную информацию <i>– полезно при поиске</i>;</li>
                                        <li>-&nbsp;не стесняйтесь рассказывать о себе <i>– сообщество должно знать своих героев</i>;</li>
                                        <li>-&nbsp;указывайте свое настоящее имя и фамилию <i>– вашим друзьям будет легче вас найти</i>;</li>
                                        <li>-&nbsp;заполняйте все поля при создании профиля Питомца <i>– для лучшего поиска его фотографий</i>;</li>
                                        <li>-&nbsp;в качестве аватара лучше загружать свою фотографию или нейтральную картинку</i>;</li>
                                        <li>-&nbsp;пишите о своих питомцах <i>– это всем интересно</i>;</li>
                                        <li>-&nbsp;если вы собираетесь продать помет, обязательно укажите это</i>;</li>
                                        <li>-&nbsp;вступая в полемику, хваля или ругая, аргументируйте свое мнение;</li>
                                        <li>-&nbsp;комментируйте загружаемые фотографии <i>– их будет легче понять</i>;</li>
                                        <li>-&nbsp;обязательно вводите ключевые слова-метки (теги) к фотографиям <i>- людям будет проще найти интересующие их фото</i>.</li>
                                    </ul>
                                    <ul style="border:1px solid #ff0000;">
                                        Подробнее о том, что запрещено:<br>
                                        <li>-&nbsp;употребление ненормативной лексики, даже завуалировано;</li>
                                        <li style="color:red;">-&nbsp;переходить на личности, оскорблять питомца и клеветать<b>*</b>;</li>
                                        <li>-&nbsp;употреблять ругательства любых видов, на любом языке и особенно замаскированные;</li>
                                        <li style="color:red;">-&nbsp;размещать записи аморальные или безнравственные<b>*</b>;</li>
                                        <li>-&nbsp;попрошайничать или организовывать сборы любых материальных ценностей;</li>
                                        <li>-&nbsp;одному человеку регистрировать более одно аккаунта;</li>
                                        <li>-&nbsp;размещать информацию рекламного характера на аватарах, именах питомцев, равно и в своем имени;</li>
                                        <li>-&nbsp;вносить неверные данные в поля данных, относящихся к географии <i>– город, страна и т.п.</i>;</li>
                                        <li>-&nbsp;размещать игрушечных питомцев, чужих питомцев или вымышленных;</li>
                                        <li>-&nbsp;рассказывать о питомце без фотографии;</li>
                                        <li style="color:red;">-&nbsp;размещать как сам контент эротического и порнографического характера, так и ссылки на него<b>*</b>;</li>
                                        <li>-&nbsp;вносить информацию рекламного характера в поле дополнительной информации о питомце;</li>
                                        <li>-&nbsp;плагиат в описании вашего питомца или своем описании, полностью и частично;</li>
                                        <li>-&nbsp;размещать контент, копирование, которого прямо запрещено правообладателем или его автором;</li>
                                        <li>-&nbsp;писать о питомце рассказ, в контексте которого невозможно идентифицировать питомца, которому посвящен рассказ;</li>
                                        <li>-&nbsp;загружать фотографии чужих питомцев, указывая как свои;</li>
                                        <li>-&nbsp;загружать и создавать питомца в не соответствующие его виду разделах <i>- собаки не кошки, черепахи совсем не лошади, а грызуны далеко не птицы и т.п.</i></li>
                                        <li>-&nbsp;загружать под видом фотографий текст, схемы, и т.п.;</li>
                                        <li>-&nbsp;загружать несколько раз одну и ту же фотографию;</li>
                                        <li>-&nbsp;размещать фотографии с надписями рекламного, оскорбительного характера или с призывами к каким-либо действиям на сайте;</li>
                                        <li>-&nbsp;помещать на фото элементы дизайна или интерфейса сайтов или операционных систем;</li>
                                        <li>-&nbsp;оставлять комментарии не по теме;</li>
                                        <li>-&nbsp;оставлять частые, несодержательные или бессмысленные комментарии, т.е. флудить.</li>
                                    </ul>
                                    <p style="color:red;"><b>*</b> - случай, когда аккаунт участника будет заблокирован немедленно, мало того, при обнаружении этой персоны в сообществе под другим акаунтом, будет произведена повторная блокировка персоны – значит вам тут не рады.</p>
                                    <p>Лучший способ не нарушать правила - всем нам в месте насладиться любовью к себе и нашим питомцам!</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="button_1_buble">
                                <div class="button_1">
                                    <center>
                                        <a href="#" class="rules_block_off">Закрыть</a>
                                    </center>
                                <div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>