<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>MIXIM - Мы их любим</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="media">
<table width="980px" align="center" height="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="98px" valign="top">
            <div class="logo_media">
                <a href="index.shtml" title="На главную страницу" target="_self">
                    <img src="images/logo.png" width="156" height="46" border="0" alt="На главную страницу">
                </a>
            </div>
            <div class="div_404">
                Ошибка 404!
            </div>
        </td>
    </tr>
    <tr>
        <td align="center" class="text_404">
            <h2>СТРАНИЦА НЕ НАЙДЕНА!</h2>
            <ul>Вы не можете посетить текущую страницу потому, что:<br>
                <li> просрочена закладка избранного</li>
                <li> поисковый механизм, у которого просрочен список для этого сайта</li>
                <li> пропущен адрес, проверьте правильность написания</li>
                <li> у вас нет прав на эту страницу</li>
                <li> в процессе обработки вашего запроса произошла ошибка</li>
                <br>
                <br>
                Пожалуйста, попробуйте одну из следующих страниц:<br>
                <li><a href="http://www.mixim.ru">Домашняя страница</a></li>
            </ul>

        </td>
    </tr>
</table>
<table class="footer" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="footer_text">
            <table align="center" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="400px" align="center">&copy;2006-2013 &nbsp; www.mixim.ru &nbsp; ООО &quot;Мобитун&quot;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!-- Google Analytic (начало) -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40365184-1', 'mixim.ru');
  ga('send', 'pageview');

</script>
<!-- Google Analytic (конец) -->
</body>
</html>
