{% load extra %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html>
    <head>
        <title>{% trans 'MiXiM - for those who love pets' %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta NAME="description" CONTENT="Сообщество любителей собак, кошек и других животных, где можно выкладывать фотографии своих питомцев, участвовать в конкурсах, голосованиях и оставлять комментарии">
        <meta NAME="keywords" CONTENT="собаки, кошки, бабочки, богомолы, многоножки, пауки, мадагаскарские тараканы, муравьи, попугаи, канарейки, щеглы, ястребы, соколы, соловьи, перепела, голуби, шиншилы, мышки, морские свинки, крысы, кролики, хомячки, ежики, песчанки, хорьки, аквариумные рыбки, улитки, змеи, лягушки, черепахи, лошади, пони">
        <meta NAME="AUTHOR" CONTENT="www.mobitoon.ru">

        <link href="/css/style_theme_01.css" rel="stylesheet" type="text/css">

        <script src="/js/underscore-min.js"></script>
        <script src="/js/backbone-min.js"></script>
        <script src="/js/jquery-1.8.3.min.js"></script>
        <script src="/js/jquery-ui.js"></script>
        <script src="/js/jquery.watermark.min.js"></script>
        <script src="/js/vendor/jquery.ui.widget.js"></script>
        <script src="/js/jquery.iframe-transport.js"></script>
        <script src="/js/jquery.fileupload.js"></script>
        <script src="/js/sprintf.min.js"></script>
        <script src="/js/app/translations-{{ LANGUAGE_CODE }}.js"></script>
        <script src="/js/app/init.js"></script>
        <script src="/js/app/api.js"></script>
        <script src="/js/app/util.js"></script>
        <script src="/js/app/gallery.js"></script>
        <script src="/js/app/keydown.js"></script>
        <script src="/js/app/media.js"></script>

        <script src="/js/app/ui.js"></script>
        <script src="/js/app/auth.js"></script>
    </head>

    <body>
<!-- Блок затенения -->
        <script type="text/javascript">
            function overlay_show() {
                $('#overlay').css("height", $(document).height());
                $('#overlay').show();
            };
        </script>
        <div id="overlay"></div>
<!-- /Блок затенения -->

<!-- Блок авторизации, регистрации и востановления пароля (начало) -->
{% include 'include/login.html' %}
<!-- /Блок авторизации, регистрации и востановления пароля (конец) -->

        <table class="bkg_media" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td height="170px" valign="top">
                    <div class="box_980px">
                        <a class="logo_media" href="../" target="_self" title="{% trans 'To home page' %}"></a>
                        <div class="pet_info_1">
                            <div class="pet_info_1_into">
                                <div class="pet_full_name">{{ pet.name }}</div>
                                <div class="pet_on_the">{% trans "on the site from:" %}</div>
                                <div class="pet_regi_data"></div>
                            </div>
                        </div>
                        <div class="pet_info_2">
                            <div class="pet_info_2_into">
                                {% trans "Photos:" %} <!--колличество фото--> | {% trans "Posts:" %} <!--колличество сообщений--> | {% trans "Likes:" %} <!--колличество лайков всего-->
                            </div>
                        </div>
                        <div class="pet_avatar" title="{{ pet.name }}">
                            <img id="petpage_avatar" src="">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td height="40px" align="center" valign="top">
                    <div class="pet_hey_top">
                        <div class="pet_about_text">
                            <p>
                                {% if user_profile.profile.about == None or user_profile.profile.about == "" %}
                                    {% trans "No more information about this pet." %}
                                {% else %}
                                    {{ user_profile.profile.about }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="26" class="media_page_list_bkg">
                                {% with media_obj=media_list %}
                                    {% if media_obj.paginator.num_pages > 1 %}
                                        {% spaceless %}
                                            {% if media_obj.has_previous %}
                                                <div onclick="window.open('?page={{ media_obj.previous_page_number }}', '_self')" class="media_prevpage finger" title="{% trans 'Next page' %}"></div>
                                            {% endif %}
                                        {% endspaceless %}
                                    {% endif %}
                                {% endwith %}
                            </td>
                            <td align="center" valign="top">
                                <div class="pet_page_content_box_empty ss_pet_page_nocontent">
                                    {% trans "On this page has not posted photos." %}
                                </div>
                                <div class="pet_page_content_box ss_pet_page_content">
                                    {% with media_obj=media_list %}
                                        {% for media in media_obj.object_list %}
                                            <div class="pet_grid_box">
                                                <a href="javascript:show_photo({{ media.id }});" class="pet_photo_box">
                                                    <div class="pet_photo">
                                                        <ul class="media_comments_count">
                                                            {{ media.comments.count }}
                                                        </ul>
                                                        <ul class="media_likes">
                                                            {{ media.likes }}
                                                        </ul>
                                                        <img src="{{ media|resized:'176x176' }}">
                                                    </div>
                                                </a>
                                                {% if media.description != None and media.description != "" %}
                                                    <div class="pet_photo_hey">
                                                        <div class="pet_photo_text">
                                                            <p>
                                                                {{ media.description }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% endwith %}
                                </div>
                            </td>
                            <td width="26" class="media_page_list_bkg">
                                {% with media_obj=media_list %}
                                    {% if media_obj.paginator.num_pages > 1 %}
                                        {% spaceless %}
                                            {% if media_obj.has_next %}
                                                <div onclick="window.open('?page={{ media_obj.next_page_number }}', '_self')" class="media_nextpage finger" title="{% trans 'Previous page' %}"></div>
                                            {% endif %}
                                        {% endspaceless %}
                                    {% endif %}
                                {% endwith %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        {% with media_obj=media_list %}
            {% if not media_obj.object_list %}
                <script type="text/javascript">
                    $('.ss_pet_page_nocontent').show();
                    $('.ss_pet_page_content').hide();
                </script>
            {% else %}
                <script type="text/javascript">
                    $('.ss_pet_page_nocontent').hide();
                    $('.ss_pet_page_content').show();
                </script>
            {% endif %}
        {% endwith %}


<!-- Окно сообщений -->
{% include 'include/message_box.html' %}
<!-- /Окно сообщений -->

<!-- Окно фотографии -->
{% include 'include/photo_win.html' %}
<!-- /Окно фотографии -->
    </body>
</html>