{% load extra %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>MIXIM - для тех, кто любит и очень любит животных</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/css/style.css" rel="stylesheet" type="text/css">

<script src="/js/underscore-min.js"></script>
<script src="/js/backbone-min.js"></script>
<script src="/js/jquery-1.8.3.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/jquery.watermark.min.js"></script>
<script src="/js/vendor/jquery.ui.widget.js"></script>
<script src="/js/jquery.iframe-transport.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script src="/js/app/init.js"></script>
<script src="/js/app/api.js"></script>
<script src="/js/app/util.js"></script>
<script src="/js/app/gallery.js"></script>
<script src="/js/app/media.js"></script>

</head>
<body class="user">
<table width="100%" height="100%" align="center" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="200px" align="center" valign="top" style="background-color:#f24f00;">
            <div class="user_header_layer_photo" style="background-image:url(/images/user_header_photo_1.jpg);">
                <div class="user_header_layer_cover">
                    <div class="user_header_layer_bubbles">
                        <table width="980px" class="user_header" border="0" cellspacing="0" cellpadding="0">
                            <!--tr>
                                <td style="padding-left:8px; padding-top:12px;">
                                    <table>
                                        <tr>
                                            <td class="user_header_counters">
                                                Сообщений: 342
                                            </td>
                                            <td width="20px"></td>
                                            <td class="user_header_counters">
                                                Избранных: 121
                                            </td>
                                            <td width="20px"></td>
                                            <td class="user_header_counters">
                                                В избранном: 8112
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            <tr-->
                            </tr>
                                <td align="center" height="180px">
                                    <h2>{{ profile.user.first_name }} {{ profile.user.last_name }}</h2>
                                    <!--p>Я обожаю собак</p-->
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <div class="user_page_content_box">
                {% for media in media_list %}
                <div class="user_grid_box">
                    <a href="#" class="user_grid_photo" onclick="show_photo({{ media.id }})">
                        <img src="{{ media|resized:'176x176' }}">
                    </a>
                    {% if media.description %}
                    <div class="user_grid_text">
                        {{ media.description }}
                    </div>
                    {% endif %}
                    <div class="hr"></div>
                    <table class="user_grid_counter_table" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td><img src="/images/user_small_comments_counter_ico.png" width="20px" height="20px" title="Оставили комментарии"></td>
                            <td class="user_grid_counter">{{ media.comments.count }}</td>
                            <td width="10px"></td>
                            <td><img src="/images/user_small_like_counter_ico.png" width="20px" height="20px" title="Понравилось"></td>
                            <td class="user_grid_counter">{{ media.likes }}</td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
            </div>
            <!--br>
            <a href="#" style="color:#f24f00;"> Показать еще... </a>
            <br-->
            <br>
        </td>
    </tr>
</table>
<table class="footer" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="footer_text">
            <table align="center" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td><a href="#" class="sitemap_block_on">География</a></td>
                    <td><a href="#" class="feedback_block_on">Пишие письма</a></td>
                    <td width="400px" align="center">&copy;2006-2013 &nbsp; www.mixim.ru &nbsp; ООО &quot;Мобитун&quot;</td>
                    <td><a href="#" class="rules_block_on">Регламент</a></td>
                    <td><a href="#" class="about_block_on">О проекте</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- Окно сообщений (начало) - по умолчанию скрыто -->
<div id="info_window" style="visibility:hidden;">
	<table class="info_table" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center">
			<div id="message1" class="info_message">Текст</div>
		</td>
      </tr>
      <tr>
        <td height="30" align="center"><input type="submit" name="Submit2" value="Закрыть" style="background-color:#f24f00; color:#ffff99; cursor:hand;"></td>
      </tr>
    </table>
</div>
<!-- Окно сообщений (конец) -->

<!-- Окно фотографии (начало) - по умолчанию скрыто -->
    {% include 'include/photo_win.html' %}
<!-- Окно фотографии (конец) -->

{% include 'include/message_box.html' %}

<!-- Блок затенения (начало)-->
    <div id="overlay"></div>
<!-- Блок затенения (конец)-->

<!-- География сообщества (начало) -->
    {% include 'include/geo.html' %}
<!-- География сообщества (конец) -->

<!-- Пишите письма (начало) -->
    {% include 'include/feedback.html' %}
<!-- Пишите письма (конец) -->

<!-- Регламент (начало) -->
    {% include 'include/rules.html' %}
<!-- Регламент (конец) -->

<!-- О проекте (начало) -->
    {% include 'include/about.html' %}
<!-- О проекте (конец) -->


<!-- Google Analytic (начало) -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40365184-1', 'mixim.ru');
  ga('send', 'pageview');

</script>
<!-- Google Analytic (конец) -->
</body>
</html>
